
.hide-for-IE7 { display: none!important; }
.IE7-btn { display: block!important; }


main {
	width: 600px;
}

aside {
	width: 230px;
	margin-top: 20px;
}

// nav { border: 1px solid red; }
// main { border: 1px solid red; }
// aside { border: 1px solid red; }

.text-input {
	width: 150px!important;
}

#login-form .button-blue,
#login-form .button-white,
#login-form .button-black {
	width: 180px!important;
}

.modal-icon {
	display: none;
}

.panel-default {
	margin-bottom: 10px!important;
}

.carousel-indicators {
	display: none!important;
}

blockquote {
	margin-left: 0;
	margin-right: 0;
}

cite {
	color: #465d9c;
	font-size: 18px;
	display: block;
	text-align: right;
}

span.location {
	display: block;
	text-align: right;
	font-size: 14px;
}


/* Modal */

.carousel-control.right {
	background: url('../images/arrows-carousel.png') no-repeat 0 0!important;
	width: 35px;
}

.carousel-control.left {
	background: url('../images/arrows-carousel.png') no-repeat -37px 0px!important;
	width: 35px;
}


.reset-form .form-row.arrow {
	margin-left: 148px!important;
}

