
body.home {
	background: url('../images/home_background_IE.jpg') no-repeat center bottom #e7e7e7!important;
}


.entry-buttons .button       { background: url('../images/arrow-IE-grey.png') no-repeat 120px 8px #fff; width: 148px; }
.entry-buttons .button:hover { background: url('../images/arrow-IE-grey.png') no-repeat 120px -45px #465d9c; color: #fff; }

.entry-buttons .button:after {
	content: "";  /* cancelling generated arrow and using image instead */
}


#login-form .button-blue {
	background: url('../images/arrow-IE-grey.png') no-repeat 220px -45px #465d9c; color: #fff;
}

#login-form .button-blue:after {
	content: "";
}


.button:after { top: 6px!important; right: 10px; }
.form-row.arrow:after { top: 1px!important; }
.button-black.button-lge:after { top: 14px!important; right: 15px; }
.IE-only { display: block!important; }
.hide-IE { display: none; }


.carousel-control {
	display: block;
	width: 40px;
	height: 40px;
}

.button.button-lge:after {
	top: 20px;
	right:12px;
}

.social-icons {
	float: left;
}