.button:after, .button:visited:after,
.form-row.arrow:after {
    top: 3px;
}

.button-black.button-lge:after { top: 14px!important; right: 15px; }

// .form-row.arrow:after {
//     content: "";
// }

nav {
    width: 20%;
    border: 1px solid transparent;  // this prevents layout break
    float: left;
}

main {
    width: 60%;
    margin-left: 20%;
}

.home main {
    margin-left: 0;
}

aside {
    width: 20%;
    float: right;
}

aside label.hidden {
    display: block!important;
    margin-left: 15px;
    font-size: 13px;
    padding-bottom: 3px;
}

.home label.hidden {
    display: block!important;
}

.carousel-control {
    top: 10%;
}

.panel-heading .preview {
    display: none;
}

/* HEADER area for mobile */

.btn-mobile-hamburger {
    float:left;
    width: 7.86%;
    height: 70px;
}
.btn-mobile-home {
    float:left;
    width: 7.86%;
    height: 70px;
}
.logo-mobile {
    width: 64.56%;
    float:left;
}
.btn-mobile-register {
    width: 9.86%;
    float:left;
    height: 70px;
}
.btn-mobile-login {
    width: 9.86%;
    float:right;
    height: 70px;
}

.primary-nav.active {
    position: absolute;
    left: 0px;
}


.nav-inner .social a {
    display: block;
    float: left;
}


.button-black.button-lge {
    font-size: 1.9em;
}

.button-black.button-lge:after {
    font-size: 35px!important;
    right:15px!important;
    top: 40px;
}

/* Modals */

.modal-content .modal-body .carousel-control {
    top: 162px;
}

.modal-header .close {
    width: 80px;
    height: 80px;
}

/* Forms */

.reset-form .form-row.arrow:after {
    top: 1px;
}



/* Mobile - Header area */

@media (max-width: 768px) {

    .btn-mobile-hamburger {
        width: 20%;
    }
    .btn-mobile-login {
        width: 20%;
    }
}


@media (max-width: 1023px) {
    main {
        width: auto;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
}


