<!doctype html>
<html>

    <%= partial "head" %>

    <body class="home">

        <div class="wrapper">

            <main>
                <div class="logo-home">
                    <a class="nav-logo" href="index.html">
                        <img class="hide-IE" src="images/logo.svg" width="280" alt="Surgeonline logo">
                        <img class="IE-only" src="images/about_logo.png" width="233" height="111" alt="Surgeonline logo">
                    </a>
                </div>
                <div class="logo-mobile-home">
                    <!-- SVG logo with PNG fallback: -->
                    <img src="images/logo-mobile-home.svg" onerror="this.src='/images/about_logo.png';this.onerror=null;" alt="Surgeonline">
                </div>
                <h1>Australia's Premier Online<br> Surgical Billing System</h1>
                <hr class="short">
                <p class="large-copy">Surgeonline is without question Australia's most accurate, highly developed and intuitive online billing interface for surgeons and surgical assistants.</p>
                

                <div class="entry-buttons">
                    <a class="find-out button" href="about.html">Find out more</a>
                    <a class="register button" href="register.html">Register now</a>
                    <a class="show-mobile-home register button" href="login.html">Login / Register</a>
                </div>
                <div class="social hide-for-mobile">
                    <a class="social-icons" href="http://www.facebook.com/pages/Surgeonline/174072872714301" target="_blank"><img src="images/icon_facebook.png" alt="Facebook"></a>
                    <a class="social-icons" href="http://www.linkedin.com/company/2547289" target="_blank"><img src="images/icon_linkedin.png" alt="Linkedin"></a>
                    
                    <div class="copyright">
                        <small><a href="terms.html">Terms and Conditions</a> / <a href="privacy.html">Privacy Policy</a><br>
                    Copyright &copy; 2016 Surgeonline Pty Ltd<br> All rights reserved</small>
                    </div>
                    
                </div>
                
            </main>
            <aside class="clearfix">
                <div class="aside-inner">
                    <form action="" method="" id="login-form">
                        <h4>Member <span>Login</span></h4>
                        <div class="form-row">
                            <label for="email" class="hidden">Email</label>
                            <input id="email" type="text" name="email" class="text-input" placeholder="Email" required>
                        </div>
                        <div class="form-row">
                            <label for="password" class="hidden">Password</label>
                            <input id="password" type="password" name="password" class="text-input" placeholder="Password" required>
                        </div>
                        <div class="form-row arrow">
                            <input type="submit" value="Login" class="button button-blue">
                        </div>
                        <p class="forgotten">Forgotten your <a href="reset-password.html">login details</a>?</p>
                    </form>

                    <div class="form-row">
                        <a href="surgeons.html" class="button button-grey-bdr button-lge">Surgeons</a>
                    </div>
                    <div class="form-row">
                        <a href="assistants.html" class="button button-grey-bdr button-lge">Assistants</a>
                    </div>
                    <div class="form-row">
                        <a href="hospitals.html" class="button button-grey-bdr button-lge">Hospitals / Agents</a>
                    </div>

<!--                     <div class="copyright">
                        <small><a href="terms.html">Terms and Conditions</a> / <a href="privacy.html">Privacy Policy</a><br>
                            Copyright &copy; 2016 Surgeonline Pty Ltd<br> All rights reserved</small>
                    </div> -->

                </div> <!-- end aside-inner -->
            </aside>
            <footer class="clearfix">
                <div class="social">
                    <a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                </div>
                <!-- <div class="copyright">
                    <small><a href="terms.html">Terms and Conditions</a> / <a href="privacy.html">Privacy Policy</a><br>
                    Copyright &copy; 2016 Surgeonline Pty Ltd<br> All rights reserved</small>
                </div> -->
            </footer>

        </div> <!-- end wrapper -->

        <script src="js/compiled.js"></script>

    </body>

</html>
