<!doctype html>
<html id="top">
    <%= partial "head" %>
    <body class="<%= page_classes %>">

        <div class="wrapper">
            <div class="main-content-wrapper">

                <header class="mobile-header">
                    <div class="btn-mobile-hamburger">
                        <a href="#top"></a>
                    </div>
                    <div class="btn-mobile-home hide-for-mobile">
                        <a href="index.html">
                            <img class="hide-IE" width="31" src="images/icon-home.svg" onerror="this.src='images/icon-home.png';this.onerror=null;" alt="Surgeonline">
                        </a>
                    </div>
                    <div class="logo-mobile">
                        <a href="index.html">
                        <img width="200" src="images/logo-mobile-sketch.svg" alt="Surgeonline">
                        </a>
                    </div>
                    <div class="hide-for-mobile btn-mobile-register">
                        <a href="register.html">Register</a>
                    </div>
                    <div class="btn-mobile-login">
                        <a href="login.html">Login</a>
                    </div>
                </header>

                <nav class="primary-nav">
                    <div class="nav-inner">

                        <a class="nav-logo" href="index.html">
                            <img class="hide-IE" src="images/logo.svg" width="233" height="111" alt="surgeonline logo">
                            <img class="IE-only" src="images/about_logo.png" width="233" height="111" alt="surgeonline logo">
                        </a>


                        <ul>
                            <li class="nav-home"><a href="index.html">Home</a></li>
                            <li class="nav-about"><a href="about.html">About Surgeonline</a></li>
                            <li class="nav-billing"><a href="billing.html">Billing Process</a></li>
                            <li class="nav-services"><a href="services.html">Services</a></li>
                            <li class="nav-cost"><a href="cost.html">Cost</a></li>
                            <li class="nav-contact"><a href="contact-us.html">Contact Us</a></li>
                            <li class="nav-surgeons nav-alt border-top"><a href="surgeons.html">Surgeons</a></li>
                            <li class="nav-assistants nav-alt"><a href="assistants.html">Assistants</a></li>
                            <li class="nav-hospitals nav-alt border-bottom"><a href="hospitals.html">Hospitals / Agents</a></li>
                        </ul>
                        <div class="social-icon-wrap clearfix">
                          <a class="social-icon-white first hide-for-desktop" href="http://www.facebook.com/pages/Surgeonline/174072872714301" target="_blank"><img src="images/icon_facebook_white.png" width="40" alt="Facebook"></a>
                          <a class="social-icon-white hide-for-desktop" href="http://www.linkedin.com/company/2547289" target="_blank"><img src="images/icon_linkedin_white.png" width="40" alt="Facebook"></a>
                        </div>

                        <div class="social hide-for-mobile">
                            <a class="social-icons" href="http://www.facebook.com/pages/Surgeonline/174072872714301" target="_blank">
                            <img src="images/icon_facebook.png" alt="Facebook"></a>

                            <a class="social-icons" href="http://www.linkedin.com/company/2547289" target="_blank"><img src="images/icon_linkedin.png" alt="Linkedin"></a>

                            
                        </div>
                        <div class="copyright">
                              <small><a href="terms.html">Terms and Conditions</a> / <a href="privacy.html">Privacy Policy</a><br>
                           Copyright &copy; 2016 Surgeonline Pty Ltd<br> All rights reserved</small>
                            </div>
                   </div><!-- end nav-inner -->
                </nav>

                <%= yield %>

                <aside>
                   <div class="aside-inner">
                       <form id="login-form" action="" method="">
                           <h4 style="display:none; " class="password-error-msg">Login Incorrect</h4>
                           <h4>Member <span>Login</span></h4>
                           <div class="form-row">
                               <label for="email" class="hidden">Email</label>
                               <input id="email" type="email" name="email" class="text-input" placeholder="Email">
                           </div>
                           <div class="form-row">
                               <label for="password" class="hidden">Password</label>
                               <input id="password" type="password" name="password" class="text-input" placeholder="Password">
                           </div>
                           <div class="form-row arrow">
                               <input type="submit" value="Login" class="button button-blue">
                           </div>
                           <p class="forgotten">Forgotten your <a href="reset-password.html">login details</a>?</p>
                       </form>

                       <div class="form-row hide-for-IE7">
                           <a href="testimonials.html" class="button button-white" data-toggle="modal" data-target="#testimonials">Testimonials</a>
                       </div>

                       <!-- Due to lack of browser support IE 7 users will be directed to a page of testimonials (instead of carousel) -->
                       <div class="form-row IE7-btn">
                           <a href="our-clients.html" class="button button-white">Testimonials</a>
                       </div>
                       <div class="form-row">
                           <a href="register.html" class="button button-black">Register now</a>
                       </div>

                 <!--       <div class="copyright">
                           <small><a href="terms.html">Terms and Conditions</a> / <a href="privacy.html">Privacy Policy</a><br>
                           Copyright &copy; 2016 Surgeonline Pty Ltd<br> All rights reserved</small>
                       </div> -->

                   </div> <!-- end aside-inner -->
                </aside>

            </div> <!-- end main-content-wrapper -->

            <footer class="hide-for-desktop clearfix">
                <div class="container-fluid">
                    <div class="row">
                        <div class="social col-sm-2 col-xs-12">
                            <a class="footer-icon" href="http://www.facebook.com/pages/Surgeonline/174072872714301" target="_blank"><img src="images/icon_facebook.png" alt="Facebook"></a>
                            <a class="footer-icon" href="http://www.linkedin.com/company/2547289" target="_blank"><img src="images/icon_linkedin.png" alt="Linkedin"></a>

                        </div>
                        <ul class="footer-links col-sm-5 col-xs-12">
                            <li><a href="testimonials.html" data-toggle="modal" data-target="#testimonials">Testimonials</a> / </li>
                            <li><a href="terms.html">Terms</a> / </li>
                            <li><a href="privacy.html">Privacy Policy</a></li>
                        </ul>
                        <div class="copyright col-sm-5 col-xs-12">
                            <small>Copyright &copy; 2016 Surgeonline Pty Ltd All rights reserved</small>
                        </div>
                    </div><!-- row -->
                </div><!-- end container -->
            </footer>

        </div> <!-- end wrapper -->


        <!-- Modal window for Testimonials -->
        <div id="testimonials" class="modal fade">
            <div class="modal-dialog">

                <div class="modal-content">
                    <!-- Content will be loaded here from testimonials.html-->
                </div>

            </div>
        </div> <!-- end testimonial modal -->
        
      <script src="js/compiled.js"></script>

  </body>
</html>
