// Bootstrap accordain custom styles


.panel-group .panel {
	border-radius:10px 
}


.panel-heading {
	border-radius: 9px;
}

.panel-group .panel + .panel {
	margin-top: 10px;
}

.panel-default {
	border-color: $border-color;
}


div.panel-default > .panel-heading {
	background: white;
}

div.panel-collapse > .panel-body {
	border: none!important;
	padding-top: 0;
	padding-right: 4em;

	p {
		margin-top: 0;
	}
}

.panel p {
	font-size: 1.4em;
}

.panel-title {
	position: relative;
	font-size: 1.5em;
	color: #333;

	a {
		display: block;
		color: $dark_grey;
		font-family:$museo700;

		&:hover {
			border: none;
		}
	}
}


.panel-title a:after {
    content: "\f106";
    font-family: FontAwesome;
    position: absolute;
    top: -10px;
    right: 0;
    font-size: 30px;
    font-weight: 300;
    color: $light_grey;
}

.panel-title a.collapsed:after {
    content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    top: -10px;
    right: 0;
    font-size: 30px;
}

.panel-heading .preview {
	margin: 0;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 2em;
	margin-top: .2em;
}

// Firefox
@-moz-document url-prefix() {
	.panel-heading .preview { display: none; }
}

/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     .panel-heading .preview { display: none; } 
}
/* IE Edge 12+ CSS styles go here */ 
@supports (-ms-accelerator:true) {
	.panel-heading .preview { display: none; }
}

.panel-heading .preview.invisible {
	display: none;
}


