.carousel {
    position: relative;
    margin-bottom: 20px;
    line-height: 1;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: 0.6s ease-in-out left;
     -moz-transition: 0.6s ease-in-out left;
       -o-transition: 0.6s ease-in-out left;
          transition: 0.6s ease-in-out left;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    line-height: 1;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
    display: block;
}

.carousel-inner > .active {
    left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}

.carousel-inner > .next {
    left: 100%;
}

.carousel-inner > .prev {
    left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}

.carousel-inner > .active.left {
  left: -100%;
}

.carousel-inner > .active.right {
  left: 100%;
}

.carousel-control {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
          border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.carousel-control.right {
  right: 15px;
  left: auto;
}

.carousel-control:hover,
.carousel-control:focus {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.carousel-indicators {
    z-index: 5;
    margin: 0;
    margin-bottom: 30px;
    padding:0;
    list-style: none;
    width: 100%;
    text-align: center;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    text-indent: -999px;
    border: 1px solid #fff;
    border-radius: 5px;
    background: none;
}


.carousel-indicators .active {
    background-color: #fff;
}

.carousel-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px;
    background: #333333;
    background: rgba(0, 0, 0, 0.75);
}

.carousel-caption h4,
.carousel-caption p {
  line-height: 20px;
  color: #ffffff;
}

.carousel-caption h4 {
  margin: 0 0 5px;
}

.carousel-caption p {
  margin-bottom: 0;
}


/* MODAL */

.modal {
    padding: 0!important;
}

.modal-dialog {
    @media #{$mobileandtablet} {
        margin-right:auto;
        margin-left:auto;
        max-width: 90%;
    }
}

.modal-dialog {
    @media (max-width: 375px) {
        width: 100%;
        max-width:100%;
        margin:0;
        border-radius: 0;
    }
}


.modal-header {
    border: none;
    padding-bottom: 0;
    text-align: right;

    .close {
        background: none;
        border:none;
        margin-right: -4px;

        img {
            width: 47px;
        }

    }
}

.modal-backdrop {
    background-color:rgba(255, 255, 255, 0.9);
}

.modal-content {
    background: #465d9c;
    color: #fff;
    box-shadow: none;
    border-radius: 12px;

    .carousel-inner {
        padding-bottom: 100px;

        @media #{$desktop} {
            height: 400px;
        }
        
        .item {
            @media #{$desktop} {
                padding: 0 30px;
            }
        }
    }

    .modal-body {

        padding: 0 80px;

        @media #{$mobile} {
            padding: 0 65px;
        }


        h2 {
            color: #fff;
            font-size: 2.7em;
            margin-bottom: 2em;
            line-height: normal;
            font-family: 'museo700';

            img {
                margin-top: -7px;
                margin-right: 20px;
            }

            @media #{$mobile} {
                margin-bottom: 1em;
                font-size: 2em;
            }
        }

        p {
            font-size: 1.6em;
            line-height: 1.5;
        }

        .carousel-control {
            background: none;
            border: none;
            padding-bottom: 60px;


            i {
                color: #fff;
            }

            // @media #{$mobile} {
            //     top: 200px;
            // }

        }

        .carousel-control.left {
            left: -65px;
        }
        .carousel-control.right {
            right: -65px;
        }

    }
    @media #{$smallmobile} {
        border-radius:0;
        min-height: 700px;
    }

}


.carousel-indicators {
    @media #{$mobile} {
        position: absolute;
        top: -30px;
        text-align: left;
    }
}


.modal-icon {
    float: left;
    width: 54px;
    height: 54px;

    @media #{$mobile} {
        width: 40px;
        height: 40px;
        margin-top: 0;
    }
}

@media (min-width: 768px) {
    .modal-content .carousel-inner {
        min-height: 400px;

    }
    .modal-dialog {
        width: 700px;
        margin: 30px auto;
        margin-top: 100px;
    }
}


/* White-bg MODAL */


#testimonials {
    background: $brand_blue;
    opacity: 0.9;

    .modal-dialog {
        width: 900px;
    }
}

#testimonials .modal-content {
    background: #fff;
    color: $body_copy;

    p { 
        font-size: 1.5em;
    }

    .modal-header .close {
        color: $brand_blue;

        &:hover {
            opacity: 0.5;
        }
    }



    .carousel-inner {
        padding-bottom: 40px;

        @media #{$desktop} {
            min-height: 500px;
        }

    }

    .carousel-control {
        background: none;
        border: none;

        i {
            color: $brand_blue!important;
        }

    }
    .carousel-indicators {
        margin: 0;
    }

    .carousel-indicators li {
        border: 1px solid $light_grey;
        background: none;
    }


    .carousel-indicators .active {
        background-color: $light_grey;
    }

    blockquote {
        background: url('#{$imagepath}/quotes-open.png') no-repeat -3px 0;
        padding-top: 50px;

        @media #{$mobile} {
            margin: 0;
        }
    }

    footer {
        background: url('#{$imagepath}/quotes-close.png') no-repeat right -10px bottom 70px;
        padding-top: 90px;
        padding-left: 0;
        padding-right: 0;
        text-align: right;
        border: none;

        cite {
            color: $brand_blue;
            font-family: $museo700;
            display: block;
            font-size: 1.7em;
            font-style: normal;
            margin-bottom: .1em;
            font-weight: 500;
        }
        span.location {
            font-size: 1.4em;
            font-family: $museo700;
            font-size: 1.7em;
        }

        @media #{$desktop} {
            position: absolute;
            right: 0;
        }
    }

}



