// BUTTONS

.button,
.button:visited  {
    padding: .7em 3em .7em 1em;
    border-radius: $rounded;
    font-family: 'museo500';
    border: none;
    font-size: 1.4em;
    text-align: left;
    background: #fff;
    border: 1px solid $border_color;
    color: $body_copy;
    position: relative;
    transition: all .2s;
    box-shadow: $button-shadow;

    &:after {
        content: "\f105";
        font-family: FontAwesome;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: .5em;
        font-size: 1.6em;
        color: $border_color;
    }

    &:hover {
        background: $brand_blue;
        color: #fff;
        border: 1px solid $brand_blue;
    }
}

.button:hover {
    transition: all .2s;
}

button:focus,
input[type="submit"] {
    outline: none;
}

.form-row.arrow {   // I am applyign the arrow to the DIV instead of the button because it is not possible to appply a pseudo class to a submit
    position: relative;
    &:after {
        content: "\f105";
        font-family: FontAwesome;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: .5em;
        font-size: 2.4em;
        color: $border_color;
    }

}

.button-blue,
.button-blue:visited {
    position: relative;
    background: $brand_blue;
    color: #fff;
    border: none;
}

.button-blue:hover {
    border: none;
    background: darken( $brand_blue, 10% )
}

.button-white,
.button-white:visited {
    background: white;
}

.button-black,
.button-black:visited {
    background: $darkest_grey;
    color: #fff;
    position: relative;
    border:none;

    &:hover {
        background: lighten(black, 30%);
        color: #fff;
        border: none;
    }

}

a.button-grey-bdr.button {
    border: 3px solid #d1d2d4;
    box-shadow: none;
    background: rgba(236,233,233, 0.4);
    color: #6D6E71;
    //color: red!important;

    &:after, 
    &:visited:after {
        color: #a7a9ab;
    }

    &:hover {
        //border: none;
        background: $brand_blue;
        border: 3px solid $brand_blue;
        color: #fff;
    }

    &:hover:after {
        color: #fff;
    }
}


.button-lge,
.button-lge:visited {
    font-family: 'museo700';
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    font-size: 2.1em;
    color: #999;
    border-radius: 20px;
}

a.button.back-to-top {
    background: none;
    border-radius: $rounded $rounded 0 0;
    float: right;
    color: $light_btn_grey!important;
    border: 1px solid #DCDDDE;
    border-bottom: none;
    margin-right: 5px;

    &:hover {
        background: darken(#e9e9e9, 20%)!important;
        border:1px solid #DCDDDE;
        border-bottom: none!important;
        color: #666!important;
        box-shadow: none!important;
    }

    &:hover:after {
        color: #666!important;
    }

    &:after {
        color: #DCDDDE!important;
        content: "\f106";
        top: 18px;
        right: 15px;
    }
}


@media #{$mobileandtablet} {

    a.button.back-to-top {
        box-shadow: none;
    }

    a.button.back-to-top:hover {
        background: none!important;
        border: 1px solid #DCDDDE;
        box-shadow: none!important;
        color: $light_btn_grey!important;

        &:after {
            color: $light_btn_grey!important;
        }
    }

}




.btn-wide,
.btn-wide:visited {
    display: block;
    margin-bottom: 1em;
    color: $body_copy;
    width: 400px;
    padding-top: 1em;
    padding-bottom: 1em;
    background: none;
    box-shadow: none;
    border: 2px solid $light_btn_grey;

    @media #{$mobile} {
        width: 100%;
    }

    &:hover {
        border: 2px solid $brand_blue;
    }

    &:after {
        color: $light_btn_grey;
    }
}

.btn-disabled,
.btn-disabled:hover {
    opacity: 0.3;
    background: #364879;
}

.loader-icon {
    position: absolute;
    left: -64px;
    top: -8px;
    width: 55px;
    display: none;
}

label.error {
    margin-left: 15px;
}


.social img:hover {
    opacity: 0.8;
}


// IE7 workaround
.IE7-btn { display: none!important; }

// FORMS

.form-row {
    margin-bottom: 10px;
}

.password-error-msg {
    color: red;
    text-align: center;
}

.text-input {
    border-radius: $rounded;
    padding: .6em 1em;
    font-size: 1.4em;
    border: 1px solid $border_color;
    font-family: Helvetica, Arial, sans-serif;
}

.text-input:focus {
    border: 1px solid $brand_blue;
    outline: none;
}

.reset-form {
    width: 400px;

    @media #{$mobile} {
        //width: 276px;
    }



    label {
        font-size: 1.5em;
        padding-right: 25px;
        font-weight: 700;

        @media #{$mobile} {
            display: block;
        }
    }

    label.error {
        display: block;
        text-align: right;
    }

    .text-input {
        width: 260px;
        @media #{$mobile} {
            width: 250px;
        }
    }
    .btn-reset {
        // float: right;

        @media #{$mobile} {
            float: none;
        }
    }

    .form-row.arrow {
        display: inline-block;
        margin-left: 224px;
        //float: right;

        @media #{$mobile} {
            margin-left: 95px;
        }

        @media only screen 
        and (min-device-width : 768px) 
        and (max-device-width : 1024px) 
        and (orientation : landscape) {
            margin-left: 0px; 
        }


    }



    .form-row.arrow:after {
        top: 18px;
    }

}  // end reset form-row


.login-form {
    max-width: 400px;
    margin: auto;
}


.text-input::-webkit-input-placeholder { font-family: 'museo300'; }
.text-input::-moz-placeholder{ font-family: 'museo300'; }
.text-input:-ms-input-placeholder { font-family: 'museo300'; }
.text-input:-moz-placeholder { font-family: 'museo300'; }


// Form validation

.text-input.error {
    border: 2px solid $error-red;

    &:focus {
        outline: none;
    }
}

label.error {
    color: $error-red;
    font-size: 1.2em;
    font-weight: normal;
}



// Safari only
@supports (overflow:-webkit-marquee) and (justify-content:inherit) 
{
    @media #{$desktop} {
        .reset-form .form-row.arrow {
            margin-left: 236px;
        }
    }
}

