.panels {

	.panel {
		border: 2px solid $border_color;
		border-radius: 8px;
		padding: 1.3em 1.3em;
		margin: 0 0 2em 1em;
		background: #fff;
		position: relative;

		p { margin: 0; }

		&.free {
			border: 2px solid $light_green;
			border-bottom: 20px solid $light_green;
		}

		&.fee {
			border: 2px solid lighten($brand_blue, 15%);
			border-bottom: 20px solid lighten($brand_blue, 15%);
		}

		.cost {
			position: absolute;
			color: #fff;
			right: 7px;
			bottom: -17px;
		}

	}

}




@media #{$mobileandup} {
	// makes both boxes the same size:
	.panels.flex {
		display: flex;

		.col-sm-6 {
			display: flex;

			.panel {
				//flex: 1;
			}
		}
		.col-sm-6:first-child {
			.panel {
				margin-left: 20px;
			}
		}
	}
}



.step {
	float: left;
	margin: .4em 0 0 -1em;
	font-size: 2em;
	color: $light_grey;
}

.or {
	position: absolute;
	top: 29px;
	right: -9px;
	font-size: 1.3em;
	font-weight: 500;

	@media #{$mobile} {
		position: static;
		margin-bottom: 1em;
 		display: block;
	}
}