.about .col-md-6:nth-child(2) {
    @media #{$desktop} {
        padding-left: 40px;
    }
}

.promo-item {

    position:relative;
    margin-top: 1em;
    padding-right: 70px;
    margin-bottom: 20px;

    .about-icon {
        float: left;
        margin-top: 15px;

        @media #{$smallmobile} {
            width: 40px;
        }
    }

    h3 {
        margin-left: 70px;
        margin-top: 0;
        margin-bottom: .2em;
        font-family: $museo500;

        @media #{$smallmobile} {
            margin-left: 55px;
        }
    }
    
    p {
        margin-left: 70px;
        margin-top: 0;
        font-size: 1.4em;

        @media #{$smallmobile} {
            margin-left: 55px;
        }
    }

    a {
        color: $body_copy;
        font-family: $museo300;

        &:hover {
            transition: color .3s;
        }
    }


    &:hover {

        .panel-arrow {
            color: $brand_blue;
            @media #{$mobile} {
                color: $light_purple;  // hover color overidden because of issues on iOS where hover states are not released.
            }

        }

        img {
            opacity:0.7;
        }
    }

    @media #{$desktop} {
        margin-left: -73px;
    }

    @media #{$xlarge} {
        display: block;
        min-height: 10em;
    }


    @media #{$smallmobile} {
        padding-right: 15px;

        &:before {
            right: -6px;
        }
    }

    .panel-arrow {  // Arrows moved inline to because they were not clickable as a pseudo element
        position: absolute;
        color: $light_purple;
        font-size: 46px;
        top: 20px;
        right: 26px;
        transition: color .3s;

        .neg-margin & {
            right: 46px;  // right colum sizing is slightly different
        }

        &:hover {
            color: $brand_blue;
        }

        @media #{$smallmobile} {
            right: -12px!important;
        }


    }

}


@media #{$desktop} {
    .col-sm-12.neg-margin { margin-left: -72px; }
}
