table {
	width: 100%;
	margin-top: 30px;

	th {
		text-align: center;
		padding: .3em;
		font-weight: normal;
	}

	td {
		text-align: center;
		padding: .3em;

		border-bottom-left-radius: 6px;

		strong {
			color: $brand_blue;
		}


	}
  
	.cell-border {   
		border: 2px solid #ccc;   
		border-radius: 10px;
		padding: 1em 2em;

		@media #{$mobile} {
			padding: .5em 1em;
			border-radius: 6px;
		}
	}

	.alt-color .cell-border {
    	border: 2px solid $light_green; 
  	}

  	td.alt-color strong {
  		color: $light_green;
  	}

	td.left-align {
		text-align: left;
	}
	td.right-align {
		text-align: right;
	}

	small {
		color: #ccc;
	}
}