.IE-only { display: none; }


// IE 10 fixes

@media screen and (min-width:0\0) {
    /* IE9 and IE10 rule sets go here */

    main {
        width: 65.63%;
    }

    @media #{$mobileandtablet} {
        main {
            width: 100%;
        }
    }
}


/* Landscape  - Homepage styles for home on Mobile*/
@media only screen
    and (min-device-width: 320px)
    and (max-device-width: 700px)
    //and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {

    body.home {
        background: url('#{$imagepath}/home_background_mobile4.jpg') no-repeat -35px -50px #f3f1f3!important;
        background-size: 62%!important;

        main {
            h1 {
                position: absolute;
                left: auto;
                top: 95px;
                display: block;
                right: 37px;
                font-size: 2em;
            }

            .logo-mobile-home {
                top: -16px;
                right: -111px;
                left: auto;

                img {
                    width: 230px;
                }
            }

            .entry-buttons {
                left: auto;
                right: 41px;
                bottom: 5px;
            }
        }
    }


}


/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
    and (min-device-width: 320px)
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2) {

    body.home {

            background: url('#{$imagepath}/home_background_mobile.jpg') no-repeat fixed center bottom -16px #e6e6e6;
            background-size: 97%!important;
            background-color: #e8e6e8;
            background-position: center -90px!important;

        h1 {
            font-size: 18px;
        }

    }

}



/* Portrait  */
@media only screen
    and (min-device-width: 320px)
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {

    body.home {

            /*background: url('#{$imagepath}/home_background_mobile.jpg') no-repeat fixed center bottom -16px #e6e6e6;*/
            background-size: 97%!important;
            /*background-position: center -180px!important;*/

        h1 {
            font-size: 18px;
        }

    }

}


/* ----------- iPhone 5 and 5S (and Android S7 )----------- */

/* Portrait and Landscape */
@media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {

        body.home {
            background: url('#{$imagepath}/home_background_mobile4.jpg') no-repeat fixed center bottom -16px #e6e6e6;
            background-size: cover;
            background-position: center bottom!important;
        }

        main h1 {
        }

}

/* Landscape */
@media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {

        body.home {
            background: url('#{$imagepath}/home_background_mobile4.jpg') no-repeat fixed left -180px #e6e6e6;
            background-size: cover;
            background-position: left center!important;
            background-size: 55%!important;

            main h1 {
                right: 57px;
            }

            main .entry-buttons {
                position: relative;
                right: -118px;
                top: 40px;
            }

        }



}






/* ----------- iPhone 6 ----------- */

/* Landscape and portrait */
@media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait  */
@media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
        .home main {
            margin-top: 110px;
        }
        body.home {
            background: url('#{$imagepath}/home_background_mobile4.jpg') no-repeat fixed center -140px #e6e6e6!important;
            background-size: 110%!important;
        }
}

/* Landscape  */
@media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {

        body.home {
            background-position: 0 -250px!important;
            background-size: 55%!important;
        }

        body.home main .logo-mobile-home {
            right: -156px;
        }

        body.home main h1 {
            right: 65px;
            top: 110px;
        }

        body.home main .entry-buttons {
            // right: 65px;
            // bottom: 50px;
            position: relative;
            top: 55px;
            right: -160px;
            text-align: right;

        }
}





/* ----------- iPhone 6 PLUS ----------- */


/* Portrait  */

@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : portrait) {

    body.home {
        //background-size: 120%!important;
        background-size: 110%!important;
        background-position: -20px -160px!important;
    }

}

/* Landscape  */

@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : landscape) {

    body.home {
        background-position: 0 -260px!important;
        background-size: 55%!important;
    }

    body.home main .logo-mobile-home {
        right: -156px;
    }

    body.home main h1 {
        right: 95px;
        top: 110px;
    }

    body.home main .entry-buttons {
        // right: 95px;
        // bottom: 50px;
        position: relative;
        top: 65px;
        right: -160px;
        text-align: right;
    }



}




/* ----------- iPad ----------- */

// Ipad

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
    body.home {
        background: url('#{$imagepath}/home_background_mobile4.jpg') no-repeat fixed center bottom -80px #e6e6e6;
        background-size: cover;
    }
    main {
        padding-left: 30px;
        padding-right: 30px;
    }
}

// Ipad portrait

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)  {
    .step7 {
        min-height: 86px;
    }
    body.home {
        //background: url('#{$imagepath}/home_background_mobile4.jpg') no-repeat fixed center bottom -80px #e6e6e6;
        background: url('#{$imagepath}/home_background_mobile4.jpg') no-repeat fixed center bottom -135px #e6e6e6;
        background-size: 150%;
    }
}

// Ipad Retina + Other 1025/768 devices such as Nexus 9:

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {

    body.home {
        //background: url('#{$imagepath}/home_background_mobile4.jpg') no-repeat fixed center bottom -135px #e6e6e6;
        background: url('#{$imagepath}/home_background_ipad.jpg') no-repeat fixed center bottom #e6e6e6;
        background-size: 140%;
    }

}

// Ipad lanscape

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)  {
    body.services {
      background: url('#{$imagepath}/home_backgroundwithoutgirl_mobile.jpg') top #f8f8f8 no-repeat;
    }

    .home main {
        margin-top: 125px;
    }

    body.home .social {
        margin-top: 40px!important;
    }
}



// 1024px x 768px Devices (Nexus 9) in Portrait

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    body.home {
        // background: url('#{$imagepath}/home_background_mobile4.jpg') no-repeat fixed center bottom -80px #e6e6e6;
        // background-size: 100%;
    }
}


// Retina iPad in landscape


@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) {
    body.home {
        //background: url('#{$imagepath}/home_background_mobile4.jpg') no-repeat fixed center bottom -80px #e6e6e6;
        background: url('#{$imagepath}/home_background2.jpg') no-repeat center bottom #e6e6e6;
        //background: url('#{$imagepath}/home_background_mobile4.jpg') no-repeat fixed center bottom -80px #e6e6e6;
        background-size: 100%;
    }

}




/* ----------- other general fixes ----------- */

@media (min-width: 768px) {
    .panels.flex .col-sm-6,
    .panels.flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .or {
        position: absolute;
    }
    .panel.free {
      margin-left: 20px;
    }
}




/* Small - Large Mobile */
@media only screen
    and (min-device-width: 320px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2) {

    .find-out.button:hover,
    .find-out.button:focus {   // This is a fix for buttons that have a stuck hover state

        background: white!important;
        border: 1px solid #DCDDDE;
        color: #58595b;

    }

}



/* Samsung J1 */
@media only screen
    and (min-device-width: 480px)
    and (max-device-height: 800px) {

        body.home {
            background: url('#{$imagepath}/home_background_mobile4.jpg') no-repeat fixed center bottom -16px #e6e6e6;
            background-size: cover;
        }

}




/* samsung s7 portrait */
@media
    (-webkit-min-device-pixel-ratio: 4)
    /* and (min-resolution: 192dpi) */
    and (max-width:640px)
    and (orientation : portrait) {
        body.home {

        }
}
