footer {
	padding: 10px 0 10px 0;
	margin: 0 25px 0 25px;
	clear: both;
	border-top: 1px solid $border_color;

	.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}



	.social {

		i {
			color: $brand_blue;
			font-size: 30px;
			margin-right: 5px;
			transition: color .3s;
		}

		a:hover {
			i { color: black; }
		}

		.footer-icon img {
			width: 20px;
			margin-right: 5px;
		}
	}


	.footer-links {
		list-style-type: none;
		margin: 5px 0 0 0;

		li {
			float: left;
			margin-right: 7px;
			font-size: 1.2em;

			a {
				color: $brand_blue;
				font-family: $museo500;

				padding-right: 7px;
			}

			&:first-child a {
				color: $body_copy;
			}
		}
	}

	.copyright {
		margin: 5px 0 0 0;
		text-align: right;

		small {
			font-size: 1.2em;
			color: #999;
			margin-left: -25px;
		}

		a {
			font-weight: 500;
		}
	}
}

// Sticky Footer

@media #{$mobileandtablet} {

	body:not(.home) {
		display: flex;
		min-height: calc(100vh - 60px);

		.wrapper {
			display: flex;
			flex-direction: column;
		}

		.main-content-wrapper {
			display: flex;
			flex: 1;
			width: 100%;
		}
	}

}
