// FOR TABLET / MOBILE


// Note: Main nav styles are in /layout/_navigation.scss


header.mobile-header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #e9e9e9;
    height: 70px;
    border-right: 1px solid #fff;
    border-bottom:1px solid #fff;
    background: $brand_blue;
    color: #fff;
    z-index: 200;

    & div {
        text-align: center;
        padding-top: 24px;
    }

    a {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        color: #fff;
        font-size: 1.6em;
        font-weight: 500;
        width: 100%;
        height: 100%;
        //padding-top: 25px;
    }

    .logo-mobile {
        flex: 0 6 auto;
        width: 64.56%;
        border-right: 1px solid #fff;
        background: $brand_blue;
        text-align: center;
        padding-top: 6px;

        img {
            //max-height: 45px;
            margin-top: 2px;
        }

        @media #{$mobile} {
            width: 60%;
        }
    }

    @media #{$desktop} {
        display: none;
    }
}

.btn-mobile-hamburger {
    flex: 0 1 auto;
    width: 7.86%;
    border-right: 1px solid #fff;
    padding-top: 20px!important;

    @media #{$mobile} {
        width: 20%;
    }

    a:after {
        content: "\f0c9";
        font-family: FontAwesome;
        font-size: 1.6em;
    }

    .fa {
        font-size: 1.6em;
    }

    &.closed {
        a {
            background: url("#{$imagepath}/menu-close.svg") no-repeat;
            display: block;
            width: 20px;
            height: 20px;
            margin:6px auto 0 auto;
        }
        a:after {
            content: "";
        }
        // a:after {
        //     content: "x";
        //     font-family: "museo-sans-rounded", Arial, sans-serif;
        //     font-size: 1.6em;
        // }
    }
}

// @media (min-width: 767px) {
//     .btn-mobile-home,
//     .btn-mobile-register {
//         display: none;    // buttons are hidden below ipad portrait size
//     }
// }

.btn-mobile-home {
    flex: 0 1 auto;
    width: 7.86%;
    border-right: 1px solid #fff;
    padding-top: 21px!important;

    .fa {
        font-size: 1.6em;
    }
}

.btn-mobile-register {
    flex: 0 1 auto;
    width: 9.86%;
    border-right: 1px solid #fff;

    a:hover {
        color: $light_grey;
    }
}

.btn-mobile-login {
    flex: 0 1 auto;
    width: 9.86%;

    @media #{$mobile} {
        width: 20%;
    }
    a:hover {
        color: $light_grey;
    }
}



// Ipad portrait specific for Header strip

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)  { 

    .btn-mobile-hamburger,
    .btn-mobile-home { width: 7.86%; display: block!important; }

    .logo-mobile { width: 64.56%!important; }

    .btn-mobile-register,
    .btn-mobile-login { width: 9.86%; display: block!important; }
}






