html, body {
    min-height: 100%;  // This may not be necessary once content is in.
}

html {
    overflow-y: scroll;
}

body {
    background: url('#{$imagepath}/home_backgroundwithoutgirl.jpg') no-repeat right fixed #e6e6e6;
    background-size: cover;
}

@media #{$mobile} {
    body:not(.home) {
        background: url('#{$imagepath}/home_backgroundwithoutgirl_mobile.jpg') top #f8f8f8 no-repeat;
    }
}


@media #{$mobileandtablet} {
    html {
        overflow: scroll;
    }

    .wrapper {
        width: 100%;
    }
}


/* Structural Elements */

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

.main-content-wrapper {
    display: flex;
    margin: 0 auto;
    padding: 0 20px;
    //overflow: hidden;
    justify-content: space-around;
    align-items: stretch;

    @media #{$mobileandtablet} {
        display: block;
    }
}


main {
    width: 100%;
    float: left;
    margin-top: 125px;
    padding: 0 40px;

    @media #{$desktop} {
        display: flex;
        flex-direction: column;
    }

    @media #{$mobile} {
        margin-top: 100px;
        padding-left: 0%;
        padding-right: 0%;
    }

    @media #{$desktop} {
        .main-inner {
            padding-right: 30px;
            padding-left: 30px;
        }
    }

}


/* Other */


.copyright {

    small {
        font-size: 105%;
    }
    margin-top: 20px;

    a {
        color: $brand_blue;
        font-family:$museo700;
        margin-right: 0;
    }
}



// iPAD fixes:

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
    .main-content-wrapper {
    display: block!important;  // prevents content beign hidden on iPad
    }
}

