.primary-nav {
    flex: 0 0 264px;

    .nav-inner {
        @media #{$desktop} {
            position: fixed;
        }
    }

    ul {
    	margin: 30px 50px 0 0;
    	padding: 0;
    }

    li {
    	list-style-type: none;
    	font-size: 1.6em;
        font-family: 'museo500';

		a {
    		color: #414042;
    		padding:.7em 1.5em;
    		display: block;
    	}

    	&.active a {
    		border: 1px solid $border_color;
    		border-radius: 10px;
    		background: #fff;
    	}

    	&.nav-alt a {
    		color: $brand_blue;
    	}

    	&.border-top    { border-top: 1px solid $border_color; margin-top: .5em; }
		&.border-bottom { border-bottom: 1px solid $border_color; }

        &.active.nav-surgeons a {
            margin-top: .7em;
        }

    }

    .social {
        margin: 40px 0 0 20px;
        float: left;

        i {
            color: $brand_blue;
            font-size: 30px;
            margin-right: 5px;
            transition: color .3s;
            font-family: "FontAwesome";
        }

        a {
            margin-right: 10px;
        }


        a:hover {
            i { color: black; }
        }
    }

    .copyright {
        margin: 20px 0 0 20px;
        clear: both;
        float: left;

        // @media #{$tablet} {
            
        // }
    }

}

.primary-nav.active {
    .copyright {
        display: none!important;
    }
}


// Nav Active states for desktop

@media #{$desktop} {
    .about li.nav-about a,
    .billing li.nav-billing a,
    .services li.nav-services a,
    .cost li.nav-cost a,
    .contact-us li.nav-contact a,
    .surgeons li.nav-surgeons a,
    .assistants li.nav-assistants a,
    .hospitals li.nav-hospitals a {
        border: 1px solid $border_color;
        border-radius: 10px;
        background: #fff;
    }
}


// MOBILE / TABLET NAV:

    // Note: Header strip styles are in /layout/_header.scss

@media #{$mobileandtablet} {

    .primary-nav {

        display: none;

        //position: fixed;
        position: absolute;
        z-index: 100!important;
        width: 230px;
        background: $brand_blue;
        left: 0px;
        top: 70px;
        //top: 155px;
        min-height: 100vw;
        padding-bottom: 50px;
        transform: translate3d(0);
        transition: 300ms ease all;

        ul {
            margin: 0;
            padding: 20px 0px 20px 0px;

            li {
                padding: 0 20px 0 10px;

                a {
                    color: #fff;
                    padding:.8em 1.5em;
                }

                &.nav-alt {
                    background: $dark_grey;   // black-bg items in mobile nav
                    color: #fff;

                    a {
                        color: #fff;
                    }
                }

                &.nav-surgeons {
                    padding-top: 15px;
                }

                &.nav-hospitals {
                    padding-bottom: 15px;
                }

            } // li
        } // ul


        .nav-logo {
            display: none;
        }

        &.active {   // active class added via JS
            display: block;
            //transform: translate3d(400px, 0, 0);
        }

        .social {
            margin: 50px 0 0 48px;
            .fa {
                color: #fff;
            }
        }

        .social-icon-white {
            float:left;
            display: block;
            margin-top: 15px;
            margin-right: 6px;
            padding-bottom: 30px;
        }
        .social-icon-white.first {
            margin-left: 30px;
        }

    }
}

.hospitals .nav-hospitals {
    padding-bottom: 15px;  // active state padding
}


// Nav Active states for Mobile/Tablet

@media #{$mobileandtablet} {
    .about li.nav-about a,
    .billing li.nav-billing a,
    .services li.nav-services a,
    .cost li.nav-cost a,
    .contact-us li.nav-contact a,
    .surgeons li.nav-surgeons a,
    .assistants li.nav-assistants a,
    .hospitals li.nav-hospitals a {
        background: none;
        border: none;
        color: #ccc;
    }
}
