.home aside {
    float: right;
    margin-right: 39px;
}



aside {
 
    flex: 0 0 200px;

    h4 {
        span { color: #000; }
    }


    .aside-inner {

        h4 {
            margin-left: 15px;
            font-family: 'museo700';
        }

        @media #{$desktop} {
            position: fixed;
        }

        .button,
        .text-input {
            width: 100%;
            display: block;
        }

        .forgotten {
            margin-left: 15px;
            font-size: 13px;
            a {
                font-family: 'museo700'; 
                color: inherit;
            }
            margin-bottom: 250px;


            @media #{$desktop} {
                margin-bottom: 300px;
            }


            .home & {
                margin-bottom: 130px;
            }

        }

        .copyright {
            margin-top: 50px;
        }
    }

    display: none;

    @media #{$desktop} {
        display: block;
    }
}
