// HOME PAGE SPECIFIC STYLES



body.home {
	height: 100%;  // This may not be necessary once content is in.
    background: url('#{$imagepath}/home_background2.jpg') no-repeat fixed center bottom #e7e7e7;
    //background-size: cover;
    background-size: contain;
    min-height: 100%;


	@media #{$homepagebreak} {
		background: url('#{$imagepath}/home_background2.jpg') no-repeat fixed center bottom #e6e6e6;
		background-size: cover;
	}

	// 'middle size' + taller monitor
	@media (min-width: 769px) and  (max-width: 900px) and (min-height: 880px) {
		background: url('#{$imagepath}/home_background2.jpg') no-repeat fixed center bottom #e6e6e6;
		background-size: 165%;
	}


	// switch to COVER at 670 HEIGHT
	@media (min-height: 670px) {
		background: url('#{$imagepath}/home_background2.jpg') no-repeat fixed center bottom -30px #e6e6e6;
		background-size: cover;
	}

	// @media (max-width: 900px) and (min-height: 1023px) {
	// 	background: url('#{$imagepath}/home_background2.jpg') no-repeat fixed center bottom #e6e6e6;
	// 	background-size: 180%;
	// }


	//'wide size'
	@media (min-width: 1330px) {
		background: url('#{$imagepath}/home_background2.jpg') no-repeat fixed center bottom -30px #e6e6e6;
		background-size: contain;
	}


	// if Window height is greater than image size, then revert to auto size
	//@media (min-height: 1166px) {
	@media (min-height: 1110px) {
		background: url('#{$imagepath}/home_background2.jpg') no-repeat fixed center bottom -30px #e6e6e6;
		background-size: auto;
	}

	//'wide and tall'
	@media (min-width: 1330px) and (max-width: 1500px) and (min-height: 930px) {
		background: url('#{$imagepath}/home_background2.jpg') no-repeat fixed center bottom -30px #e6e6e6;
		background-size: cover;
	}

    @media #{$smallmobile} {
        background: url('#{$imagepath}/home_background_mobile4.jpg') no-repeat fixed center bottom -60px #e6e6e6;
        background-size: 330px;

        main {
            margin-top: 90px;
        }
        .logo-mobile-home {
            img {
                width: 220px;
            }
        }
    }


	// short and narrow
	//@media (max-width: 900px) and  (max-height: 1022px) {
	@media (max-width: 900px) and  (max-height: 1322px) {
		background: url('#{$imagepath}/home_background2.jpg') no-repeat fixed center bottom -140px #e6e6e6;
		background-size: cover;
	}


	/* Hide image when too narrow and too short */
	@media (max-width: 900px) and  (max-height: 540px) {
	    background: url('#{$imagepath}/home_backgroundwithoutgirl.jpg') no-repeat right fixed #e6e6e6;
	}

	@media (max-width: 900px) and  (max-height:350px) {
		h1 {
			display: none;
		}
	}



	.wrapper {
		max-width: 1250px;
		padding-bottom: 40px;
	}

	main .social {
		margin-top: 60px;
		float: left;

		a.social-icons {
			margin-right: 5px;

			.fa {
				color: $brand_blue;
				font-size: 30px;
			}
		}
	}

} // body.home



.home aside .aside-inner {
	display: block;
	position: static;
}

.home main {
	width: 450px;
	margin-top: 60px;
	margin-top: 165px;

	h1 {
		color: $dark_grey;
		margin: 2em 0 1em 0;
		font-size: 2.3em;
		line-height: 1.5;

		@media #{$homepagebreak} {
			font-size: 2.1em;
			max-width: 17em;
			text-align: center;
			margin: auto;
		}

		@media #{$smallmobile} {
			font-size: 1.8em;
		}

	}

	.large-copy {
		font-size: 1.7em;
		color: $dark_grey;
		width: 330px;

		@media #{$homepagebreak} {
			display: none;
		}
	}

	.logo-home {
		@media #{$mobileandup} {
			position: absolute;
			top:0;
		}


		@media #{$homepagebreak} {
	        display: none;
    	}
	}

	.logo-mobile-home {
		display: none;

		@media #{$homepagebreak} {
			position: absolute;
	        display: block;
	        width: 100%;
	        text-align: center;
	        top: -20px;
	        left: 0;
    	}
	}


	@media #{$homepagebreak} {
		margin: 130px 5% 0 5%;
		width: auto;
		text-align: center;
		float: none;

		hr {
			display: none;
		}
	}


	@media (min-width : 1200px) {
		h1, .large-copy, .entry-buttons, hr.short {
			margin-left: 28px;
		}
	}


} // .main

.home aside {
	margin-top: 40px;

	@media #{$tablet} {
		display: block;
	}

	@media #{$homepagebreak} {
        display: none;
	}
}


.home .entry-buttons {
	margin-top: 50px;

	.button {
		margin-right: 10px;
	}

	.button.show-mobile-home {
		display: none;
	}

	@media #{$homepagebreak} {
		text-align: center;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 40px;

		.button {
			display: block;
			margin: auto;
			margin-bottom: 1em;
			max-width: 220px;
		}
		.button.register {
			background-color: $brand_blue;
			color: #fff;
			border: none;
			display: none;
		}
		.button.register.show-mobile-home {
			display: block;
		}
	}


}

.home .social {

	.copyright {
		margin-top: 20px;
	}

	@media #{$homepagebreak} {
		display: none;
	}
}


.home footer {
	display:none;
}
