// - for any other page specific styles



// ABOUT


@media (min-width: 1024px) and  (max-width: 1130px) {
	
	.about .col-md-6 {
		width: 100%;	
	}

	.about .col-md-6:nth-child(2) {
		padding-left: 13px;
	}
}

.about .col-md-6:nth-child(2) {
	.promo-item {
		padding-right: 60px;
		&:before {
			right: 25px;
		}
	}
}


.about h5 {
	margin-bottom: 2em;
}


// COST

@media #{$smallmobile} {
  .block-on-mobile {
  	display: block;
  }
}



// CONTACT US

.contact {
	.main-inner {
		max-width: 60em;

		dl { margin: 0 0 .1em 0; }
		dt { display: inline-block; width: 50px; }
		dd {
			display: inline;
			margin-left: .3em;
		}
	}

}


// SERVICES


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) { 
	.services main {
		//width: auto;
	}
}


// LEGAL PAGES


.legal-copy {

	h2 {
		font-size: 1.6em;
		color: $body_copy;
		margin-bottom: 1em;
	}

	ul.legal {
		list-style-type: none;
		margin: 0;
		padding: 0;

		ul {
			margin: 1em 0 0 0 ;
		}

		li {
			margin-bottom: .7em;
			li {
				font-size: 100%;
				margin-bottom: 0;
			}
		}

		.clause-number {
			font-weight: 700;
		}
	}
}


// MOBILE LOGIN

main.mobile-login {
	margin-top: 0;
	width: auto;
	margin: 0 auto;
	float: none;
	padding-left:40px;
	padding-right:40px;
	padding-bottom: 30px;

	.logo-mobile-home {
		text-align: center;
		margin-bottom: 30px;
	}

	label {
		display: block;
		padding-bottom: .2em;
		font-size: 1.5em;
	}

	.text-input {
		width: 100%;
	}

	.forgotten {
		margin-bottom: 2em;
	}

	.button {
		width: 100%;
		margin: 1em 0 1em 0;
		display: block;
	}
}


// SURGEONS


.main-inner.surgeons {
    position: relative;

    .gutter-img {
    	position: absolute;
    	left: -40px;
    	margin-top: 0px;
    	max-width: 50px;
    }

    @media #{$mobileandtablet} {
    	padding-left: 50px;

    	.gutter-img {
    		left: -20px;
    	}
    }

    @media #{$mobile} {

    	padding-left: 65px;

    	.gutter-img {
			left: 0px;
			max-width: 45px;
		}
    }

    ul {
    	padding-left: 18px;
    }
}



