@font-face {  
	font-family: 'museo300';
	src: url('../fonts/MuseoSansRounded-300.eot');
	src: url('../fonts/MuseoSansRounded-300.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/MuseoSansRounded-300.woff') format('woff'),
	     url('../fonts/MuseoSansRounded-300') format('truetype');
}
// WEB FONTS


@font-face { 
	font-family: 'museo500';
	src: url('../fonts/MuseoSansRounded-500.eot');
	src: url('../fonts/MuseoSansRounded-500.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/MuseoSansRounded-500.woff') format('woff'),
	     url('../fonts/MuseoSansRounded-500') format('truetype');
}


@font-face { 
	font-family: 'museo700';
	src: url('../fonts/MuseoSansRounded-700.eot');
	src: url('../fonts/MuseoSansRounded-700.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/MuseoSansRounded-700.woff') format('woff'),
	     url('../fonts/MuseoSansRounded-700') format('truetype');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome.eot');
  src: url('../fonts/fontawesome.eot?#iefix&') format('embedded-opentype'),
    url('../fonts/fontawesome.woff') format('woff'),
    url('../fonts/fontawesome.ttf') format('truetype'),
    url('../fonts/fontawesome.svg#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}


// GENERAL TYPEOGRAPHY

html  {
	font-size:62.5%;  /* =10px */
	color: $body_copy;
	font-family: $museo300;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	}

p, li, th, td, dt, dd    { font-size:1.5em; }  /* =14px */

li li { font-size: 100%; }

strong {
	font-weight: normal;
	font-family:$museo500;
}

@media #{$mobile} {
	p, li, th, td    { font-size:1.4em; }
}

dt { font-family:$museo500; }

p.large-copy {
	font-family:$museo500;
	font-size: 1.9em;
	line-height:1.6;
}

p.medium-large-copy {
	font-family:$museo500;
	font-size: 1.5em;
	line-height:1.5;
}

p.medium-large-copy-alt {
	font-family:'museo700', Arial, sans-serif;
	font-size: 1.5em;
	line-height:1.5;
	color: $brand_blue;
}

.small-print {
	text-align: right;
	margin: -5px 0 2em 0;
	color: $light_grey;
	font-weight: 500;
}

hr.short {
	height: 3px;
	width: 60px;
	background: $medium_grey;
	border-radius: 20px;
}

a { outline: none; }

main a {
	font-family:$museo500;
	color: #000;

	&:hover {
		//border-bottom: 1px dashed #000;
		color: #000;
	}
}


// HEADINGS

h1  { 
	font-family: $museo700; 
	font-weight: normal; 
	font-size: 2.8em; 
	line-height: 1.3; 
	margin-bottom: .5em; 
	margin-top: 0; 
	color: $brand_blue;  
}

h2  { 
	font-size: 2em;   
	line-height: 1.3; 
	margin-bottom: .5em; 
	color: $brand_blue; 
}

h3  {
	font-family: $museo300;
	font-weight: normal;  
	font-size: 1.8em; 
	line-height: 1.3; 
	margin-bottom: .5em; 
	color: $brand_blue; 
}

h4  {
	font-family:$museo500;
	font-weight: normal; 
	font-size: 1.6em; 
	line-height: 1.3; 
	margin-bottom: .5em; 
	color: $brand_blue;

	strong {
		font-family: $museo700;
	} 
}

h5  {
	font-family:$museo500;
	font-weight: normal;  
	font-size: 1.6em; 
	line-height: 1.5; 
	margin-bottom: 1em; 
}


@media #{$mobile} {
	h1  { font-size: 2.6em; line-height: 1.5; margin-bottom: .5em; }
	h2  { font-size: 1.9em; line-height: 1.5; margin-bottom: .5em; }
	h3  { font-size: 1.7em; line-height: 1.5; margin-bottom: .5em; }
	h4  { font-size: 1.5em; line-height: 1.5; margin-bottom: .5em; }
	h5  { font-size: 1.5em; line-height: 1.5; margin-bottom: 1em; }
}

h1 + h5 {
	margin-top: 0;
}


// LINKS

a {
	color: $color_link;
	text-decoration: none;

	&:visited {
		color: $color_link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color_link-hover;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}



// FONT-AWESOME

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-angle-right:before {
    content: "\f105";
}

.fa-angle-left:before {
    content: "\f104"
}
