// ------------- COLOURS

$brand_blue      : #465d9c;
$body_copy       : #58595b; //#414042;
$border_color    : #DCDDDE;
$off_white       : #FBFBFB;
$light_purple    : #BDC5DB;
$light_grey      : #999;
$light_btn_grey  : #bababa;
$medium_grey     : #58585b;
$dark_grey		 : #414042;
$darkest_grey    : #282829;
$light_green     : #72C8AB;
$error-red       : rgb(241,91,93);


// ------------- VARIABLES


$museo300: "museo300", Arial, sans-serif;
$museo500: "museo500", Arial, sans-serif;
$museo700: "museo700", Arial, sans-serif;


$color_link          : $medium_grey;
$color_link-visited  : $medium_grey;
$color_link          : $medium_grey;
$color_link-hover    : $brand_blue;

// rounded butons, etc...
$rounded: 10px;

// button box shadow
$button-shadow: 0 2px 3px -2px #777;



// ------------- MEDIA QUERIES

$smallmobile:     "(max-width: 374px)";
//$mobile:          "(max-width: 767px)";
$mobile:          "(max-width: 768px)";
//$mobileandup:     "(min-width: 768px)";
$mobileandup:     "(min-width: 769px)";
//$tablet:          "(min-width: 768px) and (max-width: 1023px)";
$tablet:          "(min-width: 769px) and (max-width: 1023px)";
$mobileandtablet: "(max-width: 1023px)";
$homepagebreak:   "(max-width: 900px)";
$desktop:         "(min-width: 1024px)";
$xlarge:          "(min-width: 1200px)";

.hide-for-mobile {
	@media #{$mobile} {
		display: none!important;
	}
}

.hide-for-tablet {
	@media #{$tablet} {
		display: none!important;
	}
}

.hide-for-desktop {
	@media #{$desktop} {
		display: none!important;
	}
}



// ------------- GENERAL


$imagepath: "../images" !default;
