<!-- Modal window carousel -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <img src="images/icon-close.png" alt="Close">
                </button>
            </div>
            <div class="modal-body">

                <div id="gallery" class="carousel slide" data-interval="false">
                    <div class="carousel-inner">
                        <div class="item active">
                            <h2> <img class="modal-icon" src="images/01about_accuracy.png" alt="Accuracy"> Accuracy</h2>
                            <p>Surgeonline members can be completely confident that they are billing every last cent you are entitled to. take it very seriously, unlike some other billing services. for every last cent to which they are entitled. At Surgeonline we consider the accuracy of our calculations to be the core strength of our business and we work tirelessly to maintain that reputation.</p>
                        </div>
                        <div class="item">
                            <h2> <img class="modal-icon" src="images/02about_support.png" alt="Accuracy">Support</h2>
                            <p>Our senior managers are nationwide experts in the field of surgical and surgical assistant billing and we provide impeccable email support to our members. We have built close relationships with health funds and WorkCover agencies around Australia, allowing us to lobby on behalf of our members when necessary. We also have the infrastructure in place to efficiently update our system to accommodate the industry’s frequent changes as soon as they occur.</p>
                        </div>
                        <div class="item">
                            <h2>System <img class="modal-icon" src="images/03about_system.png" alt="Accuracy"></h2>
                            <p>Over time, we have optimised the health fund provider registration process and significantly decreased payment turnaround times and administrative requirements for claiming. We provide fully customisable invoice calculation settings, detailed financial reporting, downloadable spreadsheets of claim data, complete invoicing and account history, downloadable invoice and account PDFs, plus personal directories of hospitals, surgeons, WorkCover agents and non-MBS procedures.</p>
                        </div>
                        <div class="item">
                            <h2>Cost <img class="modal-icon" src="images/04about_cost.png" alt="Cost"></h2>
                            <p>Surgeonline is an extremely cost effective service. Our pricing structure is simple to understand and there are no hidden costs. You can choose to do your data entry yourself or pay our staff to do it for you. Our low standard transaction fee gives you the use of our invoice calculation engine that is regularly updated with new health fund rules and exceptions. Having instant and ongoing access to this resource is invaluable, as incorrect invoice calculations will end up costing you precious time and money!</p>
                        </div>
                        <div class="item">
                            <h2>Specificity <img class="modal-icon" src="images/05about_specificity.png" alt="Specificity"></h2>
                            <p>Surgical billing is highly complex due to the vast number of billable items and the intricate way they affect each other on claims. Surgical assistant billing introduces many additional subtleties that aren’t well understood by most billing services. Since the majority of Surgeonline’s members join us as surgical assistants, we take assistant billing very seriously indeed. This is a welcome change for clients who find that other billing services consider surgical assistants a low priority.</p>
                        </div>
                         <div class="item">
                            <h2>Experience <img class="modal-icon" src="images/06about_experience.png" alt="Experience"></h2>
                            <p>Since its inception in 2003, Surgeonline’s highly motivated managers have amassed an extraordinary wealth of knowledge in this complex field. Every intricacy we have encountered over the years is encoded into our invoice calculation engine which contains of tens of thousands of lines of code and millions of database rows.</p>
                        </div>
                        <div class="item">
                            <h2>Security <img class="modal-icon" src="images/07about_security.png" alt="Security"></h2>
                            <p>The Surgeonline web site operates exclusively over High-grade AES-256bit encrypted connections. This guarantees our identity to you and ensures that all transmitted information is private, just as with online banking. Our servers reside in a state-of-the-art data centre for maximum security and availability. The Surgeonline database is replicated in real-time for redundancy and we regularly transmit encrypted backups off-site automatically.</p>
                        </div>
                        <div class="item">
                            <h2>Control <img class="modal-icon" src="images/08about_control.png" alt="Control"></h2>
                            <p>As a Surgeonline member you will have complete control over your billing and payments will be made directly into your personal bank account. By default we create Gap Scheme invoices to charge the maximum amount payable without leaving your patients out of pocket. Should you wish to charge a gap you can customise your billing settings per-surgeon and per-fund. Surgeonline automatically creates split bills and patient gap invoices according to each fund’s rules.</p>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#gallery" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </a>
                    <a class="right carousel-control" href="#gallery" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>

                    <ol class="carousel-indicators">
                        <li data-target="#gallery" data-slide-to="0" class="active"></li>
                        <li data-target="#gallery" data-slide-to="1"></li>
                        <li data-target="#gallery" data-slide-to="2"></li>
                        <li data-target="#gallery" data-slide-to="3"></li>
                        <li data-target="#gallery" data-slide-to="4"></li>
                        <li data-target="#gallery" data-slide-to="5"></li>
                        <li data-target="#gallery" data-slide-to="6"></li>
                        <li data-target="#gallery" data-slide-to="7"></li>
                    </ol>

                </div>
            </div> <!-- close modal-body -->
        </div> <!-- close modal-content -->
    </div> <!-- close modal-dialog -->
</div> <!-- close #myModal -->
