<head>

    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta name="keywords" content="surgical assistant, surgical assisting, billing, provider, australian health system"/>

    <title><%= current_page.data.title || "Surgeonline - Australia's Premier Online Surgical Billing System" %></title>

    <link href="stylesheets/style.css" rel="stylesheet" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" type="text/css" href="stylesheets/ie9.css">
    <![endif]-->
    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="stylesheets/ie8.css">
    <![endif]-->
    <!--[if lte IE 7]>
        <link rel="stylesheet" type="text/css" href="stylesheets/ie7.css">
    <![endif]-->

   <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
