---
title: Surgeonline | About Surgeonline
---

<main>
    <div class="main-inner about">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1>About Surgeonline</h1>
                    <h5>With more than 3600 surgeons and surgical assistants nationwide, Surgeonline is Australia’s largest medical billing agency of any kind. Since 2003 we have been proudly offering our members the most accurate, highly developed and intuitive online billing interface available.</h5>
                </div>
            </div><!-- end row -->

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 neg-margin">
                    <div class="promo-item">
                        <a href="#gallery" data-slide-to="0">
                            <div data-toggle="modal" data-target="#myModal">
                                <img class="about-icon" src="images/01about_gray_accuracy.png" alt="Accuracy">
                                <h3>Accuracy</h3>
                                <p>Surgeonline members can be completely confident that they are billing for every last cent to which they are entitled. At Surgeonline...</p>
                                <i class="fa fa-angle-right panel-arrow" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                    <div class="promo-item">
                        <a href="#gallery" data-slide-to="1">
                            <div data-toggle="modal" data-target="#myModal">
                                <img class="about-icon" src="images/02about_gray_support.png" alt="Suport">
                                <h3>Support</h3>
                                <p>Our senior managers are nationwide experts in the field of surgical and surgical assistant billing and we provide impeccable email...</p>
                                <i class="fa fa-angle-right panel-arrow" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                      <div class="promo-item">
                       <a href="#gallery" data-slide-to="2">
                           <div data-toggle="modal" data-target="#myModal">
                               <img class="about-icon" src="images/03about_gray_system.png" alt="System">
                               <h3>System</h3>
                               <p>Over time, we have optimised the health fund provider registration process and significantly decreased payment turnaround times and...</p>
                               <i class="fa fa-angle-right panel-arrow" aria-hidden="true"></i>
                           </div>
                       </a>
                   </div>
                   <div class="promo-item">
                       <a href="#gallery" data-slide-to="3">
                           <div data-toggle="modal" data-target="#myModal">
                               <img class="about-icon" src="images/04about_gray_cost.png" alt="Cost">
                               <h3>Cost</h3>
                               <p>Surgeonline is an extremely cost effective service. Our pricing structure is simple to understand and there are no hidden costs. You can choose to...</p>
                               <i class="fa fa-angle-right panel-arrow" aria-hidden="true"></i>
                           </div>
                       </a>
                   </div>

               </div> <!-- end col -->

               <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                   <div class="promo-item">
                       <a href="#gallery" data-slide-to="4">
                           <div data-toggle="modal" data-target="#myModal">
                               <img class="about-icon" src="images/05about_gray_specificity.png" alt="Specificity">
                               <h3>Specificity</h3>
                               <p>Surgical billing is highly complex due to the vast number of billable items and the intricate way they affect each other on claims...</p>
                               <i class="fa fa-angle-right panel-arrow" aria-hidden="true"></i>
                           </div>
                       </a>
                   </div>
                   <div class="promo-item">
                       <a href="#gallery" data-slide-to="5">
                           <div data-toggle="modal" data-target="#myModal">
                               <img class="about-icon" src="images/06about_gray_experience.png" alt="Experience">
                               <h3>Experience</h3>
                               <p>Since its inception in 2003, Surgeonline’s highly motivated managers have amassed an extraordinary wealth of knowledge...</p>
                               <i class="fa fa-angle-right panel-arrow" aria-hidden="true"></i>
                           </div>
                       </a>
                   </div>
                   <div class="promo-item">
                       <a href="#gallery" data-slide-to="6">
                           <div data-toggle="modal" data-target="#myModal">
                               <img class="about-icon" src="images/07about_gray_security.png" alt="Suport">
                               <h3>Security</h3>
                               <p>The Surgeonline web site operates exclusively over High-grade AES- 256bit encrypted connections. This guarantees our identity<!--  to you and -->...</p>
                               <i class="fa fa-angle-right panel-arrow" aria-hidden="true"></i>
                           </div>
                       </a>
                   </div>
                   <div class="promo-item">
                       <a href="#gallery" data-slide-to="7">
                           <div data-toggle="modal" data-target="#myModal">
                               <img class="about-icon" src="images/08about_gray_control.png" alt="Control">
                               <h3>Control</h3>
                               <p>As a Surgeonline member you will have complete control over your billing and payments will be made directly into your personal bank...</p>
                               <i class="fa fa-angle-right panel-arrow" aria-hidden="true"></i>
                           </div>
                       </a>
                   </div>

               </div><!-- end col -->

           </div> <!-- end row -->

       </div> <!-- end container-fluid -->

    </div> <!-- end main-inner -->

</main>

<%= partial "about-carousel" %>
