---
title: Surgeonline | Billing
---

<main>
    <div class="main-inner">

        <h1>Billing Process</h1>

        <div class="container-fluid">

            <div class="row panels flex">
                <div class="col-sm-6 col-xs-12 flex">
                    <span class="step">1</span>
                    <div class="panel free">
                        <p><strong>Provider logs in</strong> and enters their patient and operation data.</p>
                        <span class="cost">Free</span>
                    </div>
                    <span class="or">OR</span>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="panel fee">
                        <p><strong>Provider sends their billing sheets</strong> to be entered on their behalf.</p>
                        <span class="cost">1% Fee <sup>*</sup></span>
                    </div>
                </div>
            </div> <!-- end row -->


            <div class="row panels">
                <div class="col-sm-12">
                    <span class="step">2</span>
                    <div class="panel fee">
                        <p><strong>Invoices are generated</strong> by Surgeonline’s invoice calculation engine and transmitted electronically via <a href="">Medicare’s ECLIPSE Online Claiming System</a> to Medicare, Health Funds and the DVA. Surgeonline posts paper invoices to WorkCover Agencies, Motor Accident Authorities, Third Party Insurers and Patients as necessary.</p>
                        <span class="cost">2% Fee <sup>*</sup></span>
                    </div>
                </div>
            </div> <!-- end row -->

            <div class="row panels">
                <div class="col-sm-12">
                    <span class="step">3</span>
                    <div class="panel">
                        <p><strong>ECLIPSE Status and Processing Reports are retrieved and displayed automatically</strong> for all ECLIPSE claims. The Processing Reports indicate the amounts that will be paid by the debtors along with any relevant explanatory notes.</p>
                    </div>
                </div>
            </div> <!-- end row -->

            <div class="row panels">
                <div class="col-sm-12">
                    <span class="step">4</span>
                    <div class="panel">
                        <p><strong>Remittance advice</strong> is electronically retrieved as debtors make their payments via ECLIPSE. Payments are then logged against the relevant accounts. An intuitive Payments Received interface allows remittance advice received in the mail for paper invoices to be logged quickly and easily.</p>
                    </div>
                </div>
            </div> <!-- end row -->

            <div class="row panels">
                <div class="col-sm-12">
                    <span class="step">5</span>
                    <div class="panel">
                        <p><strong>Receipts</strong> are automatically generated and posted by Surgeonline whenever payments from patients are logged.</p>
                    </div>
                </div>
            </div> <!-- end row -->

            <div class="row panels">
                <div class="col-sm-12">
                    <span class="step">6</span>
                    <div class="panel">
                        <p>A dedicated Reports interface linked in to the payments system allows <strong>outstanding invoices to be quickly identified</strong>. These can be resubmitted if necessary free of charge.</p>
                    </div>
                </div>
            </div> <!-- end row -->

            <div class="row panels flex">
                <div class="col-sm-6 col-xs-12 flex">
                    <span class="step">7</span>
                    <div class="panel free step7">
                        <p>The provider <strong>chases any outstanding accounts</strong>.</p>
                        <span class="cost">Free</span>
                    </div>
                    <span class="or">OR</span>
                </div>
                <div class="col-sm-6 col-xs-12 flex">
                    <div class="panel fee">
                        <p>With a single click, the <strong>provider refers outstanding accounts</strong> to the Surgeonline office for debt collection.</p>
                        <span class="cost">$30 Fee <sup>*</sup></span>
                    </div>
                </div>
            </div> <!-- end row -->

            <div class="row panels">
                <div class="col-sm-12">
                    <span class="step">8</span>
                    <div class="panel">
                        <p>When outstanding accounts are paid, the <strong>provider logs the payments</strong> via Surgeonline’s Payments Received interface.</p>
                    </div>
                </div>
            </div> <!-- end row -->


            <div class="row panels">
                <div class="col-sm-12">
                    <span class="step">9</span>
                    <div class="panel">
                        <p><strong>Financial summaries</strong> broken down by financial year, month and day are available at any time via Surgeonline’s Accounts interface.</p>
                    </div>
                </div>
            </div> <!-- end row -->


            <div class="row panels">
                <div class="col-sm-12">
                    <span class="step">10</span>
                    <div class="panel">
                        <p>Surgeonline sends the provider an <strong>itemised account</strong> at the end of each month for the above services.</p>
                    </div>
                </div>
            </div> <!-- end row -->


            <div class="row">
                <div class="col-sm-12">
                    <p class="small-print"><small><sup>*</sup>All fees quoted do not include GST</small></p>
                </div>
            </div> <!-- end row -->

        </div> <!-- end container-fluid -->

    </div> <!-- end main-inner -->

</main>
