---
title: Surgeonline | Cost
---

<main>

    <div class="main-inner">

        <h1>Cost</h1>
        <p>The standard Surgeonline Transaction Fee for submitting an invoice is considerably lower than other billing services, as we don’t have data entry or debt collection components built in to our standard Transaction Fee. We believe that members should be able to choose whether they wish to perform these clerical components themselves. There are also no additional registration or establishment fees.</p>
        <p>If you would like to test our system, you are free to create an account, log in to our Members’ Area and explore all the features the site has to offer.</p>

       <table>
            <tr>
                <th></th>
                <th>Standard</th>
                <th>Data Entry</th>
            </tr>
            <tr>
                <td class="left-align">Transaction <span class="block-on-mobile">Fee <sup>*</sup></span></td>
                <td><div class="cell-border"><strong>2%</strong> per invoice</div></td>
                <td><div class="cell-border"><strong>3%</strong> per invoice</div></td>
            </tr>
            <tr>
                <td class="left-align">Minimum <span class="block-on-mobile">Fee <sup>*</sup></span></td>
                <td><div class="cell-border"><strong>2%</strong> per invoice</div></td>
                <td><div class="cell-border"><strong>3%</strong> per invoice</div></td>
            </tr>
            <tr>
                <td class="left-align">Debt Collection Fee <sup>*</sup></td>
                <td colspan="2"><div class="cell-border"><strong>$30</strong> per invoice</div></td>
            </tr>
            <tr>
                <td class="left-align">Referral <span class="block-on-mobile">Credit <sup>*</sup></span></td>
                <td colspan="2" class="alt-color"><div class="cell-border"><strong>$25.00</strong> per colleague</div></td>
            </tr>
            <tr>
                <td colspan="3" class="right-align">
                    <small><sup>*</sup> All fees quoted do not include GST</small>
                </td>
            </tr>
        </table>

    </div> <!-- end main-inner -->

    </main>
