---
title: Surgeonline | Privacy
---
<main class="legal-copy">
    <div class="main-inner">

        <h1>Privacy Policy</h1>
        <h2>1. Introduction:</h2>

        <ul class="legal">
            <li><span class="clause-number">1.1.</span> Surgeonline Pty Ltd (ABN 40 110 251 815) (“Surgeonline”) is committed to the protection of a person’s personal, sensitive and health information (as defined in the Privacy Act 1988). Various rules, legislation and regulations in the health industry govern Surgeonline’s business, including Surgeonline’s own policies and procedures.</li>

            <li><span class="clause-number">1.2.</span> Surgeonline’s policies and procedures include this Privacy Policy, which forms part of Surgeonline’s Terms and Conditions. This Privacy Policy has been designed to ensure that a person’s personal, sensitive and health information is protected and handled in accordance with the Privacy Act 1988 (Cth).</li>

            <li><span class="clause-number">1.3.</span> A person’s utilisation of this site constitutes their consent and confirms their agreement to be bound by:
                <ul class="legal">
                    <li><span class="clause-number">(a)</span> the terms and conditions of this Privacy Policy;</li>
                    <li><span class="clause-number">(b)</span> their compliance with the Privacy Act 1988 (Cth), and the National Privacy Principles; and</li>
                    <li><span class="clause-number">(c)</span> all other principles, laws and regulations governing the protection and security of personal, sensitive and health information in the health industry.</li>
                </ul>
            </li>

            <li><span class="clause-number">1.4.</span> This Privacy Policy contains important information for persons accessing and using the Surgeonline web site, web pages contained within the web site and/or participating in services offered by Surgeonline. This Privacy Policy deals with the following key areas:
                <ul class="legal">
                    <li><span class="clause-number">(a)</span> Collection of personal, sensitive and health information;</li>
                    <li><span class="clause-number">(b)</span> Use of personal, sensitive and health information;</li>
                    <li><span class="clause-number">(c)</span> Disclosure of personal, sensitive and health information;</li>
                    <li><span class="clause-number">(d)</span> Security of personal, sensitive and health information</li>
                    <li><span class="clause-number">(e)</span> Access, correction or update of personal, sensitive and health information;</li>
                    <li><span class="clause-number">(f)</span> Patient Information; and</li>
                    <li><span class="clause-number">(g)</span> How to contact Surgeonline.</li>
                </ul>
            </li>
        </ul>
    </div> <!-- end main-inner -->
</main>
