---
title: Surgeonline | Register
---
<main>
    <div class="main-inner">

        <h1>Register</h1>

        <p class="medium-large-copy">The Surgeonline registration process is very straight-forward, requiring just a user ID, password and email address, then your name, address and contact details.</p>

        <p>Once you’ve filled in this information you’ll be granted access to our Members’ Area where getting paid for your work is as easy as submitting patient data and pressing a button!</p>

        <p>Surgeonline takes the security of our providers’ data extremely seriously. Our servers are located in a highly secure data centre; they run the world’s most secure operating systems and are protected by a hardware firewall. Every aspect of our site’s design offers equivalent privacy and security to online banking. Please refer to our <a href="privacy.html">Privacy Policy</a> for more information.</p>

        <p class="medium-large-copy-alt">To start the registration process, please choose one of the following options:</p>

        <div><a href="" class="button btn-wide">Start a <strong>new membership</strong> registration</a></div>
        <div><a href="" class="button btn-wide">Continue an <strong>unfinished membership</strong> registration</a></div>

    </div> <!-- end main-inner -->

</main>
