---
title: Surgeonline | Reset Password
---
<main>
    <div class="main-inner">

        <h1>Forgotten your login details?</h1>

        <p>Enter your email address in the field below and click Reset Password to have your user ID and a new password emailed to you. Be sure to enter the same email address you provided when you registered with Surgeonline.</p>

        <form action="" id="reset-form" class="reset-form">
            <div class="form-row">
                <label for="emailaddress">Email address</label>
                <input class="text-input" type="email" id="emailaddress" name="emailaddress">
            </div>
            <div class="form-row arrow">
                 <img class="loader-icon" src="images/balls.gif" alt="">
                 <input id="btn-reset" type="submit" value="Reset Password" class="btn-disabled btn-reset button button-blue">
            </div>
            <br>
<!--             <div class="form-row arrow">
                 
                 <input disabled type="submit" value="Reset Password" class="btn-disabled btn-reset button button-blue">
            </div> -->

        </form>
    </div> <!-- end main-inner -->

</main>
