---
title: Surgeonline | Services
---

<main>  

     <div class="main-inner">

         <h1>Services</h1>

         <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

             <div class="panel panel-default">
                 <div class="panel-heading" role="tab" id="h1">
                     <h3 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" href="#collapse1" aria-expanded="true" aria-controls="collapse1">Gap Scheme Provider Registration</a>
                     </h3>
                     <p class="preview">Australian health funds will pay providers an amount greater than the Medicare Benefits Schedule fee for their Medical Gap Schemes</p>
                 </div>
                 <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h1">
                     <div class="panel-body">
                         <p>Australian health funds will pay providers an amount greater than the Medicare Benefits Schedule fee for their services if they have registered for their Medical Gap Schemes.  Registration with the majority of funds is managed by Surgeonline on your behalf as you submit your claims.  A handful of funds require you to sign their customised forms, so Surgeonline will prompt you with pre-populated copies to download and sign when necessary.  Once you are registered, you will receive payments from the funds directly into your bank account via electronic funds transfer.</p>
                     </div>
                 </div>
             </div><!-- end panel -->

             <div class="panel panel-default">
                 <div class="panel-heading" role="tab" id="h2">
                     <h3 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" href="#collapse2" aria-expanded="true" aria-controls="collapse2">Data Input</a>
                     </h3>
                    <p class="preview">As a Surgeonline user you have the option of entering your own operation data, or sending your patient stickers and item numbers</p>

                 </div>
                 <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h2">
                     <div class="panel-body">
                         <p>As a Surgeonline user you have the option of entering your own operation data, or sending your patient stickers and item numbers to our staff for processing via post/fax/email.  Downloadable billing sheets for this purpose are available on the Downloads page in the members' area of the site.</p>
                     </div>
                 </div>
             </div><!-- end panel -->

             <div class="panel panel-default">
                 <div class="panel-heading" role="tab" id="h3">
                     <h3 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" href="#collapse3" aria-expanded="true" aria-controls="collapse3">Invoice Calculation and Generation</a>
                     </h3>
                    <p class="preview">Each fund has its own specific fees, multipliers, rules and exceptions that determine the benefits payable for an operation. These factors can</p>
                 </div>
                 <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h3">
                     <div class="panel-body">
                         <p>Each fund has its own specific fees, multipliers, rules and exceptions that determine the benefits payable for an operation.  These factors can frequently change, often without warning.  The Surgeonline invoice calculation engine is regularly updated with the necessary changes to ensure that you are always paid the maximum amount for your claims.</p>

                         <p>To generate an invoice, first enter the patient and operation details to bring up an invoice preview.  Surgeonline verifies the patient data, arranges the item numbers in the appropriate order, then assigns multipliers and fees based on the operation details and the fund’s rules.  Custom billing settings and an assistant item number are applied as necessary and the optimal recipient is determined based on the available transmission options.</p>

                         <p>The invoice preview is fully interactive, allowing you to override the default settings in any way you choose.  You can alter fees, change the recipient, add a custom address, enter arbitrary notes and set a transmission delay for the claim.  Non-MBS items can be added, as well as any necessary referral information or extra charges such as late fees.  Once you are happy with your claim, click Submit and your invoice will be queued for transmission.</p>

                         <p>If you charge patient gaps, Surgeonline will create split bills or patient gap invoices as appropriate based on each fund’s rules.  Regularly charging gaps is particularly easy using Custom Billing Settings, which result in your invoices having the appropriate gap fee calculated for you automatically.</p>
                     </div>
                 </div>
             </div><!-- end panel -->

             <div class="panel panel-default">
                 <div class="panel-heading" role="tab" id="h4">
                     <h3 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" href="#collapse4" aria-expanded="true" aria-controls="collapse4">Invoice Distribution</a>
                     </h3>
                    <p class="preview">Surgeonline transmits invoices electronically to Medicare, the DVA and most health funds via Medicare's ECLIPSE Online Claiming System.  Invoices will be posted</p>
                 </div>
                 <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h4">
                     <div class="panel-body">
                         <p>Surgeonline transmits invoices electronically to Medicare, the DVA and most health funds via Medicare's ECLIPSE Online Claiming System.  Invoices will be posted on your behalf to WorkCover Agencies, Third Party Insurers, Motor Accident Authorities and patients.</p>

                         <h4>Being fully integrated with Medicare's ECLIPSE Online Claiming System allows Surgeonline's members to:</h4>
                         <ul>
                             <li>have patient details validated automatically prior to invoice submission.</li>
                             <li>submit privately insured inpatient claims electronically to Medicare and participating health funds.</li>
                             <li>submit Bulk Billing claims for self funding patients electronically to Medicare.</li>
                             <li>submit DVA claims electronically to Medicare.</li>
                             <li>have payments logged automatically via electronic remittance advice.</li>
                         </ul>
                         <h4>ECLIPSE integration also results in Surgeonline members benefitting from:</h4>
                         <ul>
                             <li>much shorter payment turn-around times of between 2 and 14 days.</li>
                             <li>vastly fewer unpaid claims caused by data entry errors made by operators.</li>
                             <li>a decreased carbon footprint thanks to paper-free claim transmission.</li>
                         </ul>

                     </div>
                 </div>
             </div><!-- end panel -->

             <div class="panel panel-default">
                 <div class="panel-heading" role="tab" id="h5">
                     <h3 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" href="#collapse5" aria-expanded="true" aria-controls="collapse5">Payments and Receipts</a>
                     </h3>
                     <p class="preview">Surgeonline organises for all payments to be made directly into your personal bank account.  Payments for your ECLIPSE claims are logged automatically via</p>
                 </div>
                 <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h5">
                     <div class="panel-body">
                         <p>Surgeonline organises for all payments to be made directly into your personal bank account.  Payments for your ECLIPSE claims are logged automatically via electronic remittance advice.  Health funds post remittance advice to you for your paper invoices, which you can then log on the Payments Received page.  Receipts for patient payments will be generated automatically and posted out on your behalf.</p>
                         <p>It is inevitable that a percentage of your invoices will not be paid immediately.  ECLIPSE invoices generate processing reports containing the reasons for any claim rejections.  Any unpaid or partially paid invoices can be resubmitted with changes if necessary.  Invoice resubmission is free of charge unless the invoice total increases, in which case charges are based on the increase only.  Full health fund, insurance agent and patient contact details are displayed to help you follow up outstanding balances with debtors.</p>
                     </div>
                 </div>
             </div><!-- end panel -->

             <div class="panel panel-default">
                 <div class="panel-heading" role="tab" id="h6">
                     <h3 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" href="#collapse6" aria-expanded="true" aria-controls="collapse6">Debt Collection</a>
                     </h3>
                    <p class="preview">Occasionally you might find that an invoice has not been paid after a reasonable period of time.  Unpaid invoices can easily be tracked on the Payments</p>
                 </div>
                 <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h6">
                     <div class="panel-body">
                         <p>Occasionally you might find that an invoice has not been paid after a reasonable period of time.  Unpaid invoices can easily be tracked on the Payments Received page, where you have the option of referring them for a fixed fee to our debt collection staff to pursue.  Our debt collectors work tirelessly to ensure that your invoices get paid, and will leave detailed notes for you on their progress.</p>
                         <p>Surgeonline’s success rate with debt collection is extremely high because our debt collection staff are experts in the field of medical billing.  They have inside contacts at health funds and often know the rules better than the operators they’re dealing with.  Despite this extensive domain knowledge, on rare occasions an invoice may not get paid due to circumstances beyond our control.  That said, our debt collection staff take great pride in their success rate so you will always get excellent value for money on the time you save by referring your unpaid claims to us.</p>
                     </div>
                 </div>
             </div><!-- end panel -->

             <div class="panel panel-default">
                 <div class="panel-heading" role="tab" id="h7">
                     <h3 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" href="#collapse7" aria-expanded="true" aria-controls="collapse7">Reports</a>
                     </h3>
                     <p class="preview">Surgeonline's fully featured Reports page lets you generate tables and downloadable spreadsheets of your Operation History, Outstanding Invoices, Logged</p>
                 </div>
                 <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h7">
                     <div class="panel-body">
                         <p>Surgeonline's fully featured Reports page lets you generate tables and downloadable spreadsheets of your Operation History, Outstanding Invoices, Logged Payments and Surgeonline fees.  The Operation History report is particularly useful for maintaining a logbook.  The Outstanding Invoices report lets you quickly locate unpaid invoices for easy resubmission free of charge, and the Logged Payments report gives you all the data you need for taxation purposes.</p>
                         <p>All reports are fully customisable to restrict and group your data into specific time periods.  They can also be narrowed down to specific surgeons, hospitals, recipients and health funds to allow you to make detailed analyses of your private practice billing.</p>
                     </div>
                 </div>
             </div><!-- end panel -->

             <div class="panel panel-default">
                 <div class="panel-heading" role="tab" id="h8">
                     <h3 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" href="#collapse8" aria-expanded="true" aria-controls="collapse8">Invoice Registry</a>
                     </h3>
                    <p class="preview">The Invoice Registry page provides you with summary details and status on all of your recently submitted and sent invoices.  Invoices waiting for</p>
                 </div>
                 <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h8">
                     <div class="panel-body">
                         <p>The Invoice Registry page provides you with summary details and status on all of your recently submitted and sent invoices.  Invoices waiting for health fund registration to be completed are clearly marked, and recently submitted invoices can be resubmitted with changes if necessary.</p>
                         <p>By providing you with a single central location where all of your recent invoices can be monitored, Surgeonline lets you easily keep track of their status.  Once your invoices have been sent, the Payments Received page becomes your next focal point, giving you feedback as your invoices progress through the processing and payment stages.</p>
                     </div>
                 </div>
             </div><!-- end panel -->

             <div class="panel panel-default">
                 <div class="panel-heading" role="tab" id="h9">
                     <h3 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" href="#collapse9" aria-expanded="true" aria-controls="collapse9">Billing Settings</a>
                     </h3>
                     <p class="preview">Surgeonline’s Billing Settings pages determine how your invoices are calculated and distributed.  They can be customised according to your individual billing</p>
                 </div>
                 <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h9">
                     <div class="panel-body">
                         <p>Surgeonline’s Billing Settings pages determine how your invoices are calculated and distributed.  They can be customised according to your individual billing preferences and are pre-loaded with the fees and multipliers that will be used by default when creating invoices.</p>

                         <p>The default settings are chosen to ensure your invoices have the highest possible totals without charging your patients a gap.  Your Billing Settings can be customised by health fund, and for assistant claims, individually for each operating surgeon.</p>

                         <p>Regardless of whether you choose to set customised Billing Settings, invoice calculations can always be overridden on the invoice preview page prior to the submission of each claim.</p>

                     </div>
                 </div>
             </div><!-- end panel -->


             <div class="panel panel-default">
                 <div class="panel-heading" role="tab" id="h10">
                     <h3 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" href="#collapse10" aria-expanded="true" aria-controls="collapse10">Obtaining an ABN</a>
                     </h3>
                     <p class="preview">An ABN is typically only required when submitting invoices for WorkCover claims.  Links to the Australian Business Register are provided to help you</p>
                 </div>
                 <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h10">
                     <div class="panel-body">
                         <p>An ABN is typically only required when submitting invoices for WorkCover claims.  Links to the Australian Business Register are provided to help you obtain an ABN online if you have not already done so.</p>
                     </div>
                 </div>
             </div><!-- end panel -->

             <div class="panel panel-default">
                 <div class="panel-heading" role="tab" id="h11">
                    <h3 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" href="#collapse11" aria-expanded="true" aria-controls="collapse11">Obtaining Provider Numbers</a>
                     </h3>
                     <p class="preview">Before submitting any invoices you must have a Medicare provider number.  Medicare Provider Number application forms can be downloaded from within the Surgeonline</p>
                 </div>
                 <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h11">
                     <div class="panel-body">
                         <p>Before submitting any invoices you must have a Medicare provider number.  Medicare Provider Number application forms can be downloaded from within the Surgeonline member's area.  These are automatically pre-populated with all of your contact details to make the process as quick and easy as possible.</p>
                     </div>
                 </div>
             </div><!-- end panel -->

             <div class="panel panel-default">
                 <div class="panel-heading" role="tab" id="h12">
                     <h3 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" href="#collapse12" aria-expanded="true" aria-controls="collapse12">RHBO Details</a>
                     </h3>
                    <p class="preview">Surgeonline provides you with an up-to-date directory of Australia’s Registered Health Benefits Organisations (RHBOs) that you can use whenever you</p>
                 </div>
                 <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h12">
                     <div class="panel-body">
                         <p>Surgeonline provides you with an up-to-date directory of Australia’s Registered Health Benefits Organisations (RHBOs) that you can use whenever you need to find their contact details.</p>
                     </div>
                 </div>
             </div><!-- end panel -->


             <div class="panel panel-default">
                 <div class="panel-heading" role="tab" id="h13">
                     <h3 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" href="#collapse13" aria-expanded="true" aria-controls="collapse13">Medicare Schedules</a>
                     </h3>
                     <p class="preview">The most up-to-date Medicare Schedule of Benefits is available for searching at all times, broken down into categories and groups.  This allows you to check on item</p>
                 </div>
                 <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h13">
                     <div class="panel-body">
                         <p>The most up-to-date Medicare Schedule of Benefits is available for searching at all times, broken down into categories and groups.  This allows you to check on item descriptions, fees and restrictions related to your billing.</p>
                     </div>
                 </div>
             </div><!-- end panel -->

         </div> <!-- end panel-group -->


     </div> <!-- end main-inner -->

 </main>
