---
title: Surgeonline | Surgeons
---

<main>
    <div class="main-inner surgeons">

        <h1>Surgeons</h1>

        <h5>True to its name, Surgeonline is a highly specialised professional service focussed solely on surgical billing. Since surgeons make use of many thousands of item numbers in the Medicare Benefits Schedule, surgical billing is by its nature very complex.</h5>

        <img class="gutter-img" src="images/Hides-the-Complexity_icon.png" alt="Hides the Complexity"><h4><strong>Hides the Complexity:</strong> Surgical billing is a bureaucratic nightmare of rules and exceptions. Trust us, you want someone else to be worrying about it for you.</h4>

        <p>Item number restrictions, multiple operation rules, procedure category multiplier groupings, diagnostic imaging multiple service rules, location-specific practice numbers, not-aftercare flags, referral overrides, self-deemed services, … the list goes on.</p>

        <p>After Medicare’s complexities are considered, the health funds introduce additional requirements of their own. Custom location-specific schedules, tiered gap scheme policies, split billing, pre-registration MBS rates, operation report and procedure annotation requirements, scaled diagnostic imaging multiple service rule deductions, and so on. What’s more, health funds use their own custom claims processing software that introduces subtle differences to the amounts they’ll pay, so the rules must be implemented differently for each fund.</p>

        <img class="gutter-img" src="images/Evolves-Dynamically_icon.png" alt="Evolves Dynamically"><h4><strong>Evolves Dynamically:</strong> As soon as you think you’ve nailed it, something will change.  There are many actors and the only way stay on top of changes is to send a high enough volume of claims to ensure you interact with them all on a daily basis.</h4>

        <p>Of course the system is also dynamic. New schedules are regularly introduced with little warning, often after the date they took effect. In addition to changes to multipliers and fees, new schedules can make changes to the rules governing how invoices are calculated. Health funds also occasionally move from one parent fund to another, entirely changing their benefits schedule and registration process overnight.</p>

        <p>Given such unpredictability, it makes sense to model this system in a single, centralised code base that’s regularly updated, verified and exercised. Surgeonline calls this our invoice calculation engine and it creates, transmits and tracks thousands of claims every week. We believe that it makes no sense for individual providers to spend their valuable time trying to keep up with all the industry’s quirks and exceptions. By ensuring that every claim is sent at the absolute highest billable rate, Surgeonline pays for itself even before you factor in the practice administration savings that its registration, invoice distribution, payment tracking, logging and reporting features provide.</p>

        <img class="gutter-img" src="images/Offers-Flexibility_icon.png" alt="Offers Flexibility"><h4><strong>Offers Flexibility:</strong> Do as much or as little of the administrative work as you want to, saving money or time depending on your needs.</h4>

        <ul>
            <li>Utilising our Data Entry service allows surgeons to send us their patient stickers and procedure item numbers in whichever format is most convenient, be it a picture of an annotated diary sent from their mobile phone, or stickers and notes attached to one of our formatted billing sheets. These can be emailed, faxed or posted to us as best suits.</li>
            <li>Since most invoices are processed and paid in full with no intervention, Surgeonline doesn’t believe that our surgeons should pay an all inclusive billing service rate on all of their invoices. Instead, we offer a Debt Collection service with a per-invoice fee that surgeons can use when an invoice needs to be pursued with a health fund or patient. Our staff are domain experts in surgical billing, having come from backgrounds in Medicare and the health funds themselves. They have the contacts and knowledge needed to get to the bottom of the thorniest of claiming issues and they will leave copious notes detailing their progress.</li>
        </ul>

        <img class="gutter-img" src="images/Helps-Build-Networks_icon.png" alt="Offers Flexibility"><h4><strong>Helps Build Networks:</strong> Find assistants with ease.</h4>

        <p>Surgeonline also provides a free Operating List advertising feature, allowing our surgeons to advertise upcoming lists to our extensive database of assistants when a place needs to be filled. Surgeons are given a summary of the applicants’ experience to help them choose the best person for the job, and lists are typically filled within hours of being advertised.</p>

        <img class="gutter-img" src="images/Aids-Business-Management_icon.png" alt="Aids Business Management"><h4>Aids Business Management: Logging payments, generating reports, filtering and analysing financial data.</h4>

        <p>Surgeonline’s Reports page allows surgeons to analyse their Operation History, Outstanding Invoices and Logged Payments in an extremely flexible way, dividing and grouping the data as appropriate and filtering it based on operation parameters to facilitate analysis of their practice. This lets them view their relative income at particular locations, compare their outstanding invoices at different health funds and so on. All reports can be downloaded in spreadsheet form for further analysis or archiving.</p>

        <img class="gutter-img" src="images/Welcomes-Visitors_icon.png" alt="Welcomes Visitors"><p><strong>Welcomes Visitors: Registration is free.</strong> Start exploring all of the advantages we can bring to your surgical practice!</p>


        <a href="#top" class="button back-to-top">Back to top</a>


    </div> <!-- end main-inner -->

</main>
