---
title: Surgeonline | Terms
---
<main class="legal-copy">
    <div class="main-inner">

        <h1>Terms</h1>

        <h2>1. Introduction:</h2>

        <p>This document is Surgeonline’s Terms and Conditions. It sets out the Terms and Conditions under which we (Surgeonline Pty Ltd ABN 40 110 251 815) provide our Services to you. In these Terms and Conditions “you” or “your” refers to persons using our Services. Your access to, reading of information contained within, use of or linking to the site is conditional upon your acceptance and compliance with the terms, conditions, notices and disclaimers contained on this page and elsewhere on the site (“General Conditions”). If you do NOT agree to all of these Terms & Conditions, you should NOT use this Web Site.</p>
        <p>We may amend these Terms and Conditions (and the Privacy Policy) at any time by posting the amended terms on our Site or by notifying you by email. The obligation is on you to check the Site to monitor whether any such amendments have been made. Your continued use of the Services will constitute your acceptance of any such amendments.</p>

        <h2>2. Our Services:</h2>
        <p>The services collectively outlined below are referred to in these Terms and Conditions as the “Service(s)”. The Services are accessible and used by Persons at the Surgeonline web site located at www.surgeonline.com (the “Site”). The Site includes other web site pages accessed beneath the home page. The Services include:</p>

        <ul class="legal">
        	<li>(a) The forwarding of personal information to the Registered Health
        	Benefits Organisations (RHBOs) of Australia, for the purpose of provider
        	registration and direct provider payments.</li>
        	<li>(b) The submission of patient and operation data when advised by the
        	provider.</li>
        	<li>(c) The electronic transmission of patient invoices relating to services
        	provided within an approved hospital facility; and</li>
        	<li>(d) The collection of outstanding benefits that have not been paid to
        	the registered provider, within reasonable limits.</li>
        	<li>(e) other services with persons who may access the Services, including
        	the provision of information about Surgeonline and other health companies
        	and products, and the provision of content and delivery of third party
        	health and medical information by email, bulletin boards, and news updates.
        	</li>
        </ul>

        <p>Collectively, these are the Services.  Each of these Services may have its
        own subsidiary Terms and Conditions.  The entire agreement between you and
        Surgeonline is these Terms and Conditions together with any Service-specific
        Terms and Conditions.  To the extent of any inconsistency between these Terms
        and Conditions and any subsidiary Terms and Conditions, these Terms and
        Conditions take precedence.</p>

        <p>These Services are provided to Persons defined as "Medical approved
        practitioners that register with Surgeonline to access, use and participate in
        the Services and programs offered by Surgeonline ("Registered Users").  The
        Registered Users access, use and participate in the Services to facilitate the
        submission of patient invoices to the Registered Health Benefits Organisations
        of Australia. ("RHBOs")</p>

        <p>In the case of service subset (d) listed above, Surgeonline will take all
        reasonable steps to retrieve benefits from either patients, Medicare or
        Registered Health Benefits Organisations where they are outstanding and have
        been referred to Surgeonline for that purpose.  "Reasonable steps" include the
        resubmission of invoices, phone correspondence and written correspondence.  If
        benefits are not paid within a reasonable period of time post referral,
        Surgeonline will turn over outstanding accounts to the relevant provider.</p>

        <h2>2. Our Services:</h2>
        <p>The services collectively outlined below are referred to in these Terms and Conditions as the "Service(s)".  The Services are accessible and used by Persons
at the Surgeonline web site located at <a href="index.html">www.surgeonline.com</a> (the "Site").  The Site includes other web site pages accessed beneath the home page.  The Services include:</p>

        <ul class="legal">
        	<li>(a) The forwarding of personal information to the Registered Health
        	Benefits Organisations (RHBOs) of Australia, for the purpose of provider
        	registration and direct provider payments.</li>
        	<li>(b) The submission of patient and operation data when advised by the
        	provider.</li>
        	<li>(c) The electronic transmission of patient invoices relating to services
        	provided within an approved hospital facility; and</li>
        	<li>(d) The collection of outstanding benefits that have not been paid to
        	the registered provider, within reasonable limits.</li>
        	<li>(e) other services with persons who may access the Services, including
        	the provision of information about Surgeonline and other health companies
        	and products, and the provision of content and delivery of third party
        	health and medical information by email, bulletin boards, and news updates.
        	</li>
        </ul>

        <p>Collectively, these are the Services.  Each of these Services may have its
        own subsidiary Terms and Conditions.  The entire agreement between you and
        Surgeonline is these Terms and Conditions together with any Service-specific
        Terms and Conditions.  To the extent of any inconsistency between these Terms
        and Conditions and any subsidiary Terms and Conditions, these Terms and
        Conditions take precedence.</p>

        <p>These Services are provided to Persons defined as "Medical approved
        practitioners that register with Surgeonline to access, use and participate in
        the Services and programs offered by Surgeonline ("Registered Users").  The
        Registered Users access, use and participate in the Services to facilitate the
        submission of patient invoices to the Registered Health Benefits Organisations
        of Australia. ("RHBOs")</p>

        <p>In the case of service subset (d) listed above, Surgeonline will take all
        reasonable steps to retrieve benefits from either patients, Medicare or
        Registered Health Benefits Organisations where they are outstanding and have
        been referred to Surgeonline for that purpose.  "Reasonable steps" include the
        resubmission of invoices, phone correspondence and written correspondence.  If
        benefits are not paid within a reasonable period of time post referral,
        Surgeonline will turn over outstanding accounts to the relevant provider.</p>

        <h2>3. Use of Our Site and Services:</h2>
        <p>Our Services are available only to persons in Australia who can form legally
        binding contracts under Australian law.  Without limiting the foregoing, our
        Services are not available to persons under 18 years of age.  However, if you
        are under 18, you may use our Services if authorised by your parent or guardian
        over the age of 18.  If you do not qualify, then you must not use our
        Services.</p>

        <p>Additionally, in order to use some Services you may be required to register.
        Once you have completed the registration process, you may be assigned a password
        which you will be required to enter before using the Services.  The Services
        provided by Surgeonline are for your personal use and you agree not to re-sell
        these Services to another person or make commercial use of the Services without
        the express consent of Surgeonline.</p>

        <p>You must not interfere with or disrupt the Service, equipment or other users
        of the Service in a way that would cause any interruption, damage, impairment or
        loss of efficiency to the Service, equipment or to other users of the Service.
        Such interferences or disruptions include, but are not limited to, the mass
        distribution of unsolicited advertising and email, the sending of threatening or
        harassing email messages, the forgery or attempted forgery of email messages,
        the propagation or dissemination of computer viruses or using the network to
        hack or make unauthorised entry into our Site or Service or any other computer
        or machine accessible from the Service.</p>


        <h2>4. System Integrity:</h2>

        <p>When using our Services you must not use any device, software or routine to
        interfere or attempt to interfere with the proper working of the Services or any
        activity conducted at the Site.  You may not take any action which imposes an
        unreasonable or disproportionately large load on our infrastructure.</p>

        <p>Where we have assigned a password to you, you must not disclose your password
        to any other person or use your password for any unauthorised purpose.  If you
        lose your password or if it is disclosed to any other person, please contact us
        at <a href="mailto:info@surgeonline.com"> info@surgeonline.com</a>.</p>

        <h2>5. Your Personal Information:</h2>

        <p>While using our Services you may be given the opportunity to enter or provide
        information or content.  This content may be personal about yourself or it may
        be content for use about yourself, in order to gain access to that Service.
        Also, you may be given an opportunity to post information, for example, on a
        bulletin board, email list or messaging service within our Site.  Your personal
        information includes any information you provide to us or other users while
        using our Services or through any other Service we provide (Personal
        Information).</p>

        <p>You must ensure that Personal Information and any information you provide in
        relation to your use of our Services:</p>

        <ul class="legal">
        	<li>(a) is not fraudulent;</li>
        	<li>(b) does not infringe any third party's copyright, patent, trade mark,
        	trade secret or other proprietary rights or rights of publicity or privacy;
        	</li>
        	<li>(c) does not violate any law, statute, ordinance or regulation;</li>
        	<li>(d) is not defamatory, libelous, unlawfully threatening or unlawfully
        	harassing;</li>
        	<li>(e) is not obscene;</li>
        	<li>(f) does not in any way impinge on another user's use or enjoyment of
        	the Site or Services; and</li>
        	<li>(g) does not contain any computer viruses.</li>
        </ul>

        <p>To enable us to lawfully use your Personal Information, you agree to grant us
        a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, sub-licensable
        (through multiple tiers) right to exercise the copyright and publicity rights
        (but no other rights) you have in Personal Information, in all media now known
        or not currently known, with respect to Your Information.  You also agree to
        waive in our favour any moral rights or similar rights you may have or may
        acquire in the future in that Personal Information.</p>

        <p>We will only use Personal Information in accordance with these Terms and
        Conditions and our Privacy Policy.</p>

        <p>You acknowledge and agree that we may take any action with respect to your
        Personal Information if we deem it necessary or appropriate in our sole
        discretion: for example, if we believe your Personal Information may create any
        liability to us.</p>

        <p>If we reasonably believe or if a government department, government agency or
        law enforcement agency informs us that there is any information on our Site
        which is in contravention of, or may contravene, any law, industry code of
        practice, policy, guideline or regulation, or if there is any information on our
        Site which comes to our attention and we think that it may so contravene, you
        agree that we have the right in our absolute discretion to remove that
        information or any part of that information from our Site.</p>

        <h2>6. Privacy:</h2>

        <p>We will take reasonable steps to abide by our
        <a href="privacy.html">privacy policy</a> and all Persons of the
        Services hereby agree to its Terms and Conditions and agree to act in accordance
        with the policy when using these Services.</p>

        <p>If you do not agree to the collection of this information and the other
        information specified in the Privacy and Security Statement, then please do not
        accept these Terms and Conditions.</p>

        <p>By accepting these Terms and Conditions, you also consent to the collection,
        use and disclosure of your personal information in certain circumstances.  These
        are described in the Privacy and Security Statement.</p>

        <h2>7. Links:</h2>

        <p>Part of our Site may have links through to web pages not controlled,
        associated or affiliated with Surgeonline.  We are in no way responsible for any
        content appearing on such a web page.  Also, the fact that a link to such a web
        page may be included on our site does not mean that we in any way endorse or are
        associated or affiliated with that site or any of its content.  We are not
        responsible for any loss or damage suffered by your use of the Services or any
        dealings you may have with Services offered on any site of a third party.</p>

        <h2>8. Intellectual Property:</h2>

        <p>All text, graphics, software on the Sites (including where included in
        advertisements) (Content) is the copyright of Surgeonline unless indicated
        otherwise.  The Content is protected by intellectual property laws.</p>

        <p>Surgeonline authorises you to use the Content for your own personal and
        non-commercial use.  You are not authorised to modify, copy, republish, frame,
        or distribute this Content other than as expressly provided.</p>

        <h2>9. Breach and Termination:</h2>

        <p>If you breach these Terms and Conditions we may immediately issue a warning,
        temporarily suspend or permanently prevent your access to all or certain parts
        of our Services.  In any event, we may terminate these Terms and Conditions (and
        your right to use any of the Services or the Site) at any time and for any
        reason without prior notice to you.</p>

        <h2>10. Limit of Liability:</h2>

        <p>We provide our Site and Services "as is" and without any warranty or
        condition, express or implied.  To the maximum extent permitted by law, we
        specifically exclude warranties implied by law in relation to title,
        merchantability, fitness for a particular purpose and non-infringement of third
        party rights in respect of goods and services supplied through the Services.  We
        will not be liable for any lost profits or any special, incidental or
        consequential damages (however arising, including negligence) arising directly
        or indirectly out of or in connection your use of the Services.</p>

        <p>The following limitation of liability applies if the Australian Trade
        Practices Act 1974 or any consumer protection legislation of any Australian
        State or Territory applies to you.  To the extent permitted by law we limit the
        remedies available under these Terms and Conditions, and our liability for
        breach of a condition or warranty implied by law legislation to the following
        remedies (the choice of which is to be at our sole discretion):</p>

        <ul>
        	<li>in the case of goods, any one or more of the following:
        	<ul>
        		<li>the replacement of the goods or supply of equivalent goods;</li>
        		<li>the repair of the goods;</li>
        		<li>the payment of the costs of replacing the goods or of acquiring
        		equivalent goods; or</li>
        		<li>the payment of the costs of having the goods repaired;</li>
        	</ul>
        	</li>
        </ul>

        <ul>
        	<li>and in the case of services:
        	<ul>
        		<li>supply of the services again; or</li>
        		<li>the payment of the cost of having the services supplied again.</li>
        	</ul>
        	</li>
        </ul>

        <p>Nothing in these Terms and Conditions is intended to limit or exclude any
        liability on our part, where and to the extent that applicable law prohibits
        such exclusion or limitation.  In relation to web sites outside our Site and
        Services, we exercise no control over the material which may be accessed and the
        goods and services which may be acquired at such sites.  You must exercise your
        own judgement as to whether to access the web sites and acquire goods and
        services of unrelated third parties.</p>

        <p>In relation to the Services, we facilitate the (electronic) interaction
        between yourself and various third party suppliers of goods and/or services;
        however, we do not exercise any control over the material and content of the
        Services.  Accordingly, we do not accept any liability for the accuracy of such
        content.</p>

        <h2>11. Indemnity:</h2>

        <p>You indemnify us against any action, liability, claim, loss, damage,
        proceeding, expense (including legal costs) (Claim) suffered or incurred by us
        arising from, or which is directly or indirectly, related to:</p>

        <ul>
        	<li>your breach or non-observance of any term of this agreement;</li>
        	<li>any breach or inaccuracy in any of your representations or warranties;
        	</li>
        	<li>any action or claim brought by a third party which relates to all or any
        	part of the Personal Information;</li>
        	<li>use of the Site and or the Service by you or any other person using your
        	login particulars; and/or</li>
        	<li>for any goods or services purchased by you whilst on the Site or using
        	the Service or from a third party providing goods and/or services on the
        	Site or through the Service.</li>
        	<li>for any goods or services ordered, accessed or otherwise used by you
        	whilst on the Site or using the Services from a third party providing goods
        	and/or services on the Site or through the Site including all goods and
        	services forming part of the Surgeonline offerings from time to time.</li>
        	<li>In relation to a Claim, we may require you to conduct the defence,
        	including negotiations for settlement or compromise prior to the institution
        	of legal proceedings or modify, alter or substitute any potentially
        	infringing part of the Personal Information at your own expense, to render
        	the Personal Information non-infringing.  You must comply with any
        	requirement notified to you in accordance with this clause.</li>
        </ul>

        <h2>12. General Compliance with Laws:</h2>

        <p>You must comply with all laws, statutes, ordinances and regulations which
        apply to you in relation to your use of our Site and Services.</p>

        <h2>13. No Agency:</h2>

        <p>No agency, partnership, joint venture, employee-employer or
        franchisor-franchisee relationship is intended or created between you and us by
        these Terms and Conditions.</p>


        <h2>14. Notices:</h2>

        <p>Except as explicitly stated otherwise, any notices will be given by email to
        <a href="mailto:info@surgeonline.com">info@surgeonline.com</a> (in the case of
        us) or to the email address you provide to us during the registration process
        (in your case).  Notice will be deemed given 24 hours after an email is sent,
        unless the sending party is notified that the email address is invalid.</p>

        <h2>15. General:</h2>

        <p>These terms are be governed by and construed in accordance with the laws of
        the State of Victoria, Australia.  All users of this Site and our Services
        irrevocably submit to the non-exclusive jurisdiction of the courts of the State
        of Victoria, Australia.  The provisions of these Terms and Conditions are
        severable and if any provision of these Terms and Conditions is held to be
        invalid or unenforceable, that provision may be removed and the remaining
        provisions will be enforced.</p>

        <p>Headings are for reference purposes only and in no way define, limit,
        construe or describe the scope or extent of such section.</p>

        <p>Our failure to act with respect to a breach of these Terms and Conditions by
        you or others does not waive our right to act with respect to subsequent or
        similar breaches.</p>

        <p>These Terms and Conditions may not be construed adversely to us solely
        because we prepared them.</p>

        <p>These Terms and Conditions set out the entire understanding and agreement
        between you and us with respect to the subject matter herein.</p>

        <a href="#top" class="button back-to-top">Back to top</a>

    </div> <!-- end main-inner -->

</main>
