<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <!-- <span aria-hidden="true">&times;</span><span class="sr-only"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span> -->
        <img src="images/icon-close-blue.png" alt="Close">

    </button>
</div>

<div class="modal-body">
    <div id="testimonial-slides" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
            <div class="item active">
                <blockquote>
                    <p>I have been using Surgeonline since 2007. I changed to Surgeonline after realising my previous billing provider had not been charging the appropriate amounts according the schedule and thus I was not receiving my full entitlements. Surgeonline offers me the ability to have complete control over the way I bill and I also have absolute confidence that my invoices are accurate. The Surgeonline team have also been incredibly efficient in regards to debt collection, ensuring that payments are made in a timely fashion.</p>
                    <footer>
                        <cite>Dr. Julien Freitag</cite>
                        <span class="location">Victoria</span>
                    </footer>
                </blockquote>
            </div>

            <div class="item">
                <blockquote>
                    <p>As a ‘No Gap Provider’ it is great to subscribe to Surgeonline, which works out the complicated and differential rates on assistant fees with the large number of Hospital Benefit Funds (and at a reasonable price!), then submits, and resubmits if necessary.</p>
                    <p>Now with ‘Eclipse’, it instantly picks up incorrect patient details including Medicare numbers, and Fund entitlements! Even when the hospital or surgeon gives you the wrong details. How good is that!!!</p>
                    <footer>
                        <cite>Dr. Harold Lane</cite>
                        <span class="location">South Australia</span>
                    </footer>
                </blockquote>
            </div>

            <div class="item">
                <blockquote>
                    <p>Surgeonline has been a very useful resource for my surgical assisting. The website has an easy to follow interface with all of the information required to enter invoices and then track them. The recent and ongoing upgrade to the ECLIPSE system has led to less issues with invoice rejection, as each patient’s details are verified at the time of entering the invoice.</p>
                    <p>The staff are very friendly and supportive too. The best feature of the service is the pre-population of the never ending forms required by each RHBO. Once your details are entered, adding a new provider number, hospital or surgeon is easy, and generates these forms which can be printed, signed and sent off. It has saved me an enormous amount of admin time.</p>
                     <footer>
                        <cite>Dr. Justin O’Brien</cite>
                        <span class="location">Victoria</span>
                    </footer>
                </blockquote>
            </div>

            <div class="item">
                <blockquote>
                    <p>After using other billing services for a few years, I’ve switched to Surgeonline in 2010 and have been very happy since. Their pricing model works well for me, especially with lots of small operations and the data entry is quick and easy. I tend to do my billing as I go between cases, so the only thing left is entering the payments received into the system.</p>
                    <p>The accuracy of Surgeonline no-gap fee calculations is excellent, often from few dollars to a few hundred dollars more than the surgeon’s rooms calculations. On the few occasions I’ve run into problems, Tanya, Sam and Tim have been very helpful, resolving any concerns very quickly. I can’t see a reason to look for a different billing company and can highly recommend Surgeonline to other surgical assistants.</p>
                    <footer>
                        <cite>Dr. Martin Kroslak</cite>
                        <span class="location">New South Wales</span>
                    </footer>
                </blockquote>
            </div>

            <div class="item">
                <blockquote>
                    <p>I eventually bit the bullet and started using Surgeonline in 2008. It has managed to simplify what is a complex process in a complex system. What is most wonderful is that it is an intuitive interface, so that even I - (not particularly computer savvy) - have no problem finding my way around. It has meant that I can comfortably do it myself. It is a very cost effective way to invoice and receipt. For me the switch to using the ‘debt collect’ button has been welcome in avoiding the time consuming and draining process of following up those who have not paid promptly. The backup has been wonderful - amazingly prompt, helpful and cheerful. Tim has been open to suggestions for improvements, and Sam always on hand for any (rare) computer mysteries. I have been able to leave the accounts briefly in the hands of others knowing that Tanya is available and always helpful. I’d need a secretary without it!</p>
                    <footer>
                        <cite>Dr. Robyn Edwards</cite>
                        <span class="location">Victoria</span>
                    </footer>
                </blockquote>
            </div>

            <div class="item">
                <blockquote>
                    <p>I do surgical assisting as a break from my usual work and from a busy family life. So, I don’t want to spend much time with invoicing, following up accounts, negotiating with health funds etc. Surgeonline has been fantastic. I am a “No Gap” doctor to keep things as simple as possible. All the chores are done, the billing system is straightforward, it is easy to track the progress of invoices and you can arrange debt collection for those occasional tricky accounts. The staff are friendly, helpful and accessible.</p>

                    <p>Surgeonline has made it easier for me to keep doing what I enjoy.</p>
                    <footer>
                        <cite>Dr. Claudia Lopez</cite>
                        <span class="location">New South Wales</span>
                    </footer>
                </blockquote>
            </div>

        </div> <!-- end carousel-inner -->

        <a class="left carousel-control" href="#testimonial-slides" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        <a class="right carousel-control" href="#testimonial-slides" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>

        <ol class="carousel-indicators">
            <li data-target="#testimonial-slides" data-slide-to="0" class="active"></li>
            <li data-target="#testimonial-slides" data-slide-to="1"></li>
            <li data-target="#testimonial-slides" data-slide-to="2"></li>
            <li data-target="#testimonial-slides" data-slide-to="3"></li>
            <li data-target="#testimonial-slides" data-slide-to="4"></li>
            <li data-target="#testimonial-slides" data-slide-to="5"></li>
        </ol>

    </div>
</div>
